.autorisation{
	box-sizing: border-box;
	padding-top: 64px;
	padding-bottom: 64px;
	display: flex;
	justify-content: center;
	.sign-str{
		width: 328px;
		// height: 467px;
		// height: 516px;
		box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		border-radius: 0 0 6px 6px;
		background-color: #ffffff;
	}
	.btn{
		position: relative;
	}
	.btn-register{
		&::after{
			background-color: #ff4545;
		}
	}
	.sign-str__log-reg-wrapper{
		border-top: 2px solid #ff4545;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 62px;
		margin-bottom: 36px;
	}
	.sign-str__log-ing{
		outline: none;
		border: none;
		width: 50%;
		height: 100%;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.18px;
	}
	.sign-str__register{
		outline: none;
		border: none;
		width: 50%;
		height: 100%;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.18px;
		background-color: #fff;
	}
	.soc-wrapper{
		margin: 0 auto;
		margin-bottom: 12px;
	}
	form{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		box-sizing: border-box;
		padding-left: 24px;
		padding-right: 24px;
		input[type="text"]{
			width: 280px;
			height: 44px;
			border-radius: 22px;
			// border: 1px solid #ff4545;
			border: 1px solid #343434;
			opacity: 0.6;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.14px;
			box-sizing: border-box;
			padding-left: 13px;
			margin-bottom: 22px;
			transition: all 250ms ease;
		}
		input[type="password"]{
			width: 280px;
			height: 44px;
			border-radius: 22px;
			border: 1px solid #343434;
			opacity: 0.6;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.14px;
			box-sizing: border-box;
			padding-left: 13px;
			margin-bottom: 22px;
			transition: all 250ms ease;
		}
		input[type="text"]:focus{
			border: 1px solid #ff4545;
			outline: none;
			transition: all 250ms ease;
		}
		input[type="password"]:focus{
			border: 1px solid #ff4545;
			outline: none;
			transition: all 250ms ease;
		}
		label{
			position: relative;
			&::after{
				content: '';
				position: absolute;
				left: -20px;
				top: 0;
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 2px;
				border: 1px solid #ff4545;
				background-color: #ffffff;
			}

		}
		input[type="checkbox"]{
			display: none;
		}
		input[type="checkbox"]:checked + label::after{
			// background-color: #ff4545;
			background-image: url('../img/icon/red-okey.png');
			background-position: center center;
			background-size: 8px 6px;
			background-repeat: no-repeat;
		}
		button{
			background-color: #ff4545;
		}
		p{
			margin: 0;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			// line-height: 14px;
			margin-left: 20px;
			margin-bottom: 32px;
			// color: #306c78;
		}
		a{
			color: #306c78;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			text-decoration: none;
		}
	}
	.form-register{
		button{
			margin-bottom: 48px;
		}
	}
	.form-log-in{
		button{
			background-color: #306c78;
			margin-bottom: 21px;
		}
		label::after{
			border: 1px solid #2c2c2c;
		}
		p:last-child{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			letter-spacing: 0.14px;
			margin-top: 0;
			margin-bottom: 48px;
			margin-left: 0;
			a{
				color: #306c78;
				letter-spacing: 0.12px;
			}
		}
		.rest-password{
			outline: none;
			border: none;
			background-color: unset !important;
			color: #306c78;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.12px;	
			margin-bottom: 0;
		}
	}
	.sign-str-checkbox-wrapper{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.password-wrapper{
		position: relative;
		.password-icon{
			background-color: unset;
			position: absolute;
			right: 12px;
			top: 17px;
		}
	}
}
