.cabinet{
	.first{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 44px;
		margin-bottom: 25px;
		p{
			margin: 0;
			b{				
				display: block;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 24px;
				font-weight: 400;
				letter-spacing: 0.24px;
			}
		}
		span{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			line-height: 18px;
			letter-spacing: 0.12px;
		}
		.btn{
			position: relative;
			&::after{
				background-color: #ff4545;
			}
		}
		.add-offer{
			color: #fff;
	    font-family: "Open Sans";
	    font-size: 16px;
	    font-weight: 400;
	    letter-spacing: .16px;
	    text-decoration: none;
		}
		.green{
			width: 180px;
			height: 44px;
			border-radius: 22px;
			background-color: #52ac62;
			margin-right: 12px;
			&::after{
				width: 100px;
				background-color: #52ac62;
			}
		}
	}

	.your-account{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 24px;
		font-weight: 400;
    margin-left: auto;
    margin-right: 110px;		
		span{
			margin-top: 7px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
		}
	}

	.btn-wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cabinet-navigation{
		list-style: none;
		padding: 0;
		margin: 0;
		width: 1038px;
		height: 44px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid rgba(44, 44, 44, .2);
		margin-bottom: 17px;
    box-shadow: 0 0 5px rgba(44,44,44,.3);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
		li{
			height: 100%;
			box-sizing: border-box;
			padding-left: 21px;
			padding-right: 24px;
			display: flex;
			align-items: center;
			box-shadow: 0px 0px 10px rgba(44,44,44,.3);
			a{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				text-decoration: none;
			}
		}

		.active{
			// background-color: grey;
			box-shadow: unset;
		}

		li:nth-child(1){
			border-radius: 6px 0 0;
		}
		li:last-child{
			border-radius: 0 6px 0 0;
		}
	}

	.checkbox-body{
		width: 230px;
		height: 100%;
		box-sizing: border-box;
		padding-left: 25px;		
		display: flex;
		align-items: center;
		justify-content: space-between;
		p{
			margin: 0;
		}
		label{
			position: relative;
			&::after{
				content: '';
				position: absolute;
				top: 2px;
				left: -25px;
				width: 16px;
				height: 16px;
				border-radius: 2px;
				border: 1px solid #2c2c2c;
				// opacity: 0.6;
				background-size: 12px 9px;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		input{ display: none; }
		input:checked + label::after{
			background-image: url('../img/icon/icon-for-found/red-ok.png');
		}
	}

	.form-selected{
		margin: 0;
		padding: 0;
		box-shadow: none;
		width: 1100px;
	}

	.menu{
		width: 100%;
		height: 44px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		//box-sizing: border-box;
		padding-bottom: 20px;
		// border-bottom: 1px solid rgba(44, 44, 44, .2);
		ul{
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			margin-right: 24px;
			li{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				position: relative;
				button{
					background-color: unset;
					border: none;
				}
				button:focus{
					outline: none;
				}
				&::after{
					content: '';
					display: none;
					position: absolute;
					left: 0;
					top: 110%;
					width: 100%;
					height: 2px;
					background-color: #ff4545;
				}
			}
			li:first-child{
				margin-right: 24px;
			}
			.active{
				&::after{
					display: block;
				}
			}
		}
		.checkbox-body{
			width: 181px;
			margin-right: auto;
		}
		.castom-select-wrapper{
			margin-bottom: 0;
			padding-left: 10px;
		}
	}

	.balance-history{
		padding: 0;
		box-shadow: unset;
		margin-bottom: 0;
    border-top: 1px solid rgba(44,44,44,.2);
	}

	.cabinet-balans-table{
		width: 900px;
		margin-top: 22px;
		margin-bottom: 64px;
		.title{
			margin-bottom: 37px;
			li{
				opacity: 0.6;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.14px;
			}
		}
		.item{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0.14px;
			padding-bottom: 16px;
			padding-top: 16px;
			border-bottom: 1px solid rgba(44, 44, 44, .2);
		}
		ul{
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			justify-content: space-between;
			li{

			}
			li:nth-child(1){
				width: 59px;
			}
			li:nth-child(2){
				width: 116px;
			}
			li:nth-child(3){
				width: 120px;
			}
			li:nth-child(4){
				width: 110px;
				display: flex;
				align-items: center;
				i{ margin-right: 6px; }
			}
			li:nth-child(5){
				width: 54px;
			}
			li:nth-child(6){
				width: 220px;
			}							
		}
	}

	.history-clean{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		p{
			text-align: center;
			width: 100%;
			margin-top: 32px;
			margin-bottom: 31px;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 400;
			letter-spacing: 0.18px;			
		}
		img{
			margin-bottom: 64px;
		}
		.pre-footer-icons{
			width: 100%;
		}
	}

	.withdrawal-funds{
		width: 100%;
		// background-color: grey;
		.first-text{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0.12px;
			margin-bottom: 21px;
			margin-top: 0;
		}
		.hr{
			margin-top: 0;
			margin-bottom: 25px;
		}

		.navigation{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			margin-bottom: 32px;
			// warning !! red-icon текст з звездочкою красною
			.red-icon{
				position: relative;
				box-sizing: border-box;
				padding-left: 8px;
				font-weight: 600;
				&::after{
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					content: '*';
					width: 8px;
					height: 8px;
					color: #ff4545;
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.16px;					
				}
			}
			.form-selected{
				width: 282px;
				margin-right: 24px;
				.castom-select-wrapper{
					margin-bottom: 0;
					box-sizing: border-box;
					padding-left: 12px;
					font-size: 16px;
					span{ margin-right: 0; }
				}
				p{
					margin-top: 0;
					margin-bottom: 8px;
				}
			}
			.last-text{
				margin-top: 10px;
				margin-bottom: 0;
				display: flex;
				flex-wrap: wrap;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 400;
				line-height: 14px;
				i{ margin-right: 6px; }
			}
			.input-wrapper{
				width: 282px;
				margin-right: 24px;
				input{
					margin-bottom: 0;
					border-radius: 6px;
					border: 1px solid #343434;
				}
				p{
					margin-top: 0;
					margin-bottom: 8px;
				}
			}
			.btn-wrapper{
				width: 282px;
				flex-wrap: wrap;
				align-self: flex-end;
			}
			.btn{
				width: 282px;
				position: relative;
				background-color: #ff4545;
				&::after{
					width: 90%;
					background-color: #ff4545;
				}
			}
		}

		&__body{
			width: 588px;
			h3{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 14px;
				letter-spacing: 0.16px;
				margin-bottom: 20px;
			}
			.cabinet-balans-table{
				width: 100%;
				margin-top: 0;
				.title{
					padding-bottom: 20px;
					margin-bottom: 0;
					border-bottom: 1px solid rgba(44,44,44,.2);
				}
				ul{
					li:nth-child(1){ width: 20px; }
					li:nth-child(2){ width: 120px; }
					li:nth-child(3){ width: 120px; }
					li:nth-child(4){ width: 50px; }
					li:nth-child(5){ width: 100px; }
				}
			}
		}
	}

}
	
.str-settings{
	.content{
		&__menu{
			width: 100%;
			list-style: none;
			margin: 0;
			padding: 0;
			.item{
				width: 100%;

				.title{
					cursor: pointer;
					height: 64px;
					box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
					border: 1px solid #ffffff;
					background-color: #ffffff;
					display: flex;
					justify-content: space-between;
					align-items: center;		
					box-sizing: border-box;
					padding-left: 26px;
					padding-right: 12px;
					margin-bottom: 12px;			
					p{
						color: #2c2c2c;
						font-family: "Open Sans";
						font-size: 18px;
						font-weight: 400;
						line-height: 18px;
						letter-spacing: 0.18px;
						margin: 0;
					}
					i{
						width: 16px;
						height: 9px;
						transition: all 300ms ease;
					}
				}

				.title:hover{
					i{
						background-image: url('../img/icon/arro-down-red.png');
					}
				}

				.title--active{
					i{
						transform: rotate(180deg);
						background-image: url('../img/icon/arro-down-red.png');
						transition: all 300ms ease;
					}
				}
			}
		}

		.btn--save{
			width: 136px;
			background-color: #67c5ee;
			position: relative;
			&::after{
				width: 80%;
				background-color: #67c5ee;
			}
		}

		.body{
			width: 100%;
			// min-height: 150px;
			// background-color: red;
			overflow: hidden;
			max-height: 0;
			margin-bottom: 0px;
			transition: all 300ms ease;
			box-sizing: border-box;
			padding-left: 24px;
			box-sizing: border-box;
			padding-top: 0;
			.text-for-input{
				display: flex;
				align-items: center;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 400;
				line-height: 14px;
				letter-spacing: 0.12px;
				i{ margin-right: 7px; }
				margin-bottom: 9px;
			}
			input{
				width: 282px;
				height: 44px;
				border-radius: 6px;
				border: 1px solid rgba(52, 52, 52, .3);
			}
			.checkbox-body{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				cursor: pointer;
				.checkbox-wrapper{
					cursor: pointer;
					width: 100%;
					margin-bottom: 19px;
				}
			}
			.text-wrapper{
				width: 100%;
				margin-bottom: 22px;
				.count{
					display: flex;
					align-items: center;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.12px;
					i{ margin-right: 6px; }
				}
			}
			textarea{
				box-sizing: border-box;
				padding-top: 14px;
				padding-left: 12px;
				padding-right: 12px;
				width: 462px;
				height: 189px;
				border-radius: 6px;
				border: 1px solid rgba(52, 52, 52, .3);
				resize: none;
				opacity: 0.6;
				color: rgba(44, 44, 44, .6);
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.16px;
			}
			.castom-select-wrapper{
				padding-left: 15px;
			}

			.change-avatar{

			}
		}

		.form-selected{
			display: block;
		}
		
		.body--active{
			max-height: 285px;
			padding-top: 27px;
			margin-bottom: 36px;
			transition: all 300ms ease;
		}

		.body--active--large{
			min-height: 1000px;
		}
	}

	.change-avatar{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		.img-wrapper{
			width: 102px;
			height: 102px;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
			background-color: #ffffff;
			border-radius: 50%;
			position: relative;
			margin-right: 12px;
			img{
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				object-fit: cover;
				max-height: 100%;
				max-width: 100%;
			}
		}
		.btn-wrapper{
			display: flex;
			flex-wrap: wrap;
			span{
				display: block;
				width: 100%;
				opacity: 0.6;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 12px;
				font-weight: 400;
				line-height: 14px;
				letter-spacing: 0.12px;
			}
			button{
				padding: 0;
				border: none;
				outline: none;
				background-color: unset;
				color: #d24a43;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				height: 24px;
				letter-spacing: 0.16px;
			}
		}
		.hr{
			width: 100%;
			margin-top: 0;
			margin-bottom: 24px;
			}
		.hr:last-child{
			margin-top: 24px;
			margin-bottom: 22px;
		}
	}

	.change-soc{
		width: 100%;
		margin-bottom: 36px;
		.null{
			img:last-child{
				margin-right: 0;
			}
		}
		.btn-wrapper{
			position: absolute;
			top: 10px;
			left: 75%;
    	width: 150px;
			button{
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border: none;
				outline: none;
				background-color: unset;
				color: #d24a43;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.16px;
				i{
					transition: 250ms ease;
					margin-left: 5px;
				}
			}
			.icon-active{
				transition: 250ms ease;
				transform: rotate(180deg);
			}
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			width: 220px;
			position: relative;
		}
		.border-right{
			background-color: rgba(44, 44, 44, .3);
			height: 24px;
			width: 1px;
			display: block;
			margin-left: 10px;
		}
		li{
			margin-bottom: 12px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			img{
				margin-right: 12px;
			}
			span{
				margin-right: 6px;
			}
			i{
				
			}
		}
	}
}


// попап окна
.popup-save-settings{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 228px;
	height: 128px;
	box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
	background-color: #ffffff;
	.content{
		text-align: center;
	}
	i{
		margin-top: 36px;
		margin-bottom: 7px;
		box-sizing: border-box;
		margin-right: auto;
		margin-left: auto;
	}
	span{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
		line-height: 14px;
		letter-spacing: 0.12px;
	}
}