.castom-select-wrapper .list__item--category:hover{
	i{ background-image: url('../img/fix/white-category.png'); }
}

.found-icon-moto{
	width: 18px !important;
	height: 13px !important;
	background-size: cover;
}

.found-icon-auto{
	width: 16px !important;
	height: 14px !important;
}

.found-icon-heavy-auto{
	width: 15px !important;
	height: 16px !important;
	background-size: contain;
}

.found-icon-service{
	width: 18px !important;
	height: 17px !important;
}

.castom-select-wrapper .list__item--auto:hover{
	i{ background-image: url('../img/fix/white-auto.png'); }
}

.castom-select-wrapper .list__item--moto:hover{
	i{ 
		background-image: url('../img/moto-new.svg');
		background-position: unset;
	}
}

.castom-select-wrapper .list__item--heavy-auto:hover{
	i{ background-image: url('../img/fix/white-hevy-auto.png'); }
}

.castom-select-wrapper .list__item--settings:hover{
	i{ background-image: url('../img/fix/white-settings.png'); }
}

.castom-select-wrapper .list__item--service:hover{
	i{ background-image: url('../img/fix/white-servece.png'); }
}

.found-icon-fourth-cube{
	background-size: auto;
}

.header .nav-bar-wrapper{
	height: 44px;
}

.header .logo{
	width: 132px;
	height: 44px;
	margin-right: 124px;
}

.found-filter__body .castom-select-wrapper .list{
	top: 98%;
	&::after{
		content: '';
		display: block;
		width: 100%;
		height: 10px;
		opacity: .6;
		background-color: #fff;
		position: absolute;
		top: -5px;

	}
}

.str-settings .content__menu .item .title:hover{
	transition: all 300ms ease;
	box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
	border: 1px solid #ffffff;
}

.popup-buf{
	a.btn{
		position: relative;
	}
	button.btn{
		position: relative;
		&::after{
	    background-color: #2c2c2c;
		}
	}
}

.popup-rest-password button{
	position: relative;
	&::after{
		background-color: #ff4545;
	}
}

.my-assesment-popup{
	width: 328px;
	height: 241px;
	box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
	border-radius: 6px;
	background-color: #ffffff;

	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 15;
	i{
		position: absolute;
		right: -36px;
		top: -36px;
		cursor: pointer;
	}
	.my-assessment{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	p{
		margin: 0;
		margin-top: 45px;
		margin-bottom: 37px;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		text-align: center;
	}
	.form-slider__wrapper{
		display: flex;
		align-items: center;
		margin-bottom: 28px;
	}
	.range-wrapper{
		margin-right: 24px;
	}
	.range-wrapper__number{
		display: flex;
		position: relative;
		align-items: center;
		.fix-d__assessment{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 8;
		}
	}

	.btn{
		width: 280px;
		height: 44px;
		border-radius: 22px;
		background-color: #ff4545;
		position: relative;
		margin: 0 auto;
		&::after{
			width: 85%;
			background-color: #ff4545;
		}
	}
}

.strange-form .add-atribute{
	button{
		background-repeat: no-repeat;
		background-color: unset;
		cursor: pointer;
	}
	button:nth-child(1){
		background-image: url('../img/fix/111.png');
	}
	button:nth-child(1):hover{
		background-image: url('../img/fix/111h.png');
	}
	button:nth-child(2){
		background-image: url('../img/fix/222.png');
	}
	button:nth-child(2):hover{
		background-image: url('../img/fix/222h.png');
	}
	button:nth-child(3){
		background-image: url('../img/fix/333.png');
	}
	button:nth-child(3):hover{
		background-image: url('../img/fix/333h.png');
	}
	button:nth-child(4){
		background-image: url('../img/fix/444.png');
	}
	button:nth-child(4):hover{
		background-image: url('../img/fix/444h.png');
	}
}

.strange-form .input-wrapper .exit{
	background-color: unset;
	background-repeat: no-repeat;
	background-image: url('../img/icon/exhit-chrest-red.png');
}

.strange-form .file-input-wrapper .delete{
	background-color: unset;
	background-image: url('../img/fix/delete.png');
	background-repeat: no-repeat;
  background-position: center -20px;
}

.strange-form .file-input-wrapper .add{
	background-color: unset;
	background-image: url('../img/fix/plus.png');
	background-repeat: no-repeat;
  background-position: center -20px;
}

.popup-save-settings{
	z-index: 11;
}

.cabinet .history-clean img{
	margin-bottom: 0;
}

.str-notifications .menu span{
	margin-right: 0;
}

.cabinet .popup-graph .right .content{
	display: flex;
	align-items: center;
	justify-content: center;
}

.cabinet .popup-graph .right .content p{
	padding-top: 0;
	padding-bottom: 0;
}

.list__item{
	box-sizing: border-box !important;
}

.str-busines__stat .right .number-views{
	top: 57%;
}

.form-selected .list{
	z-index: 11;
}

.form-selected .list{
	height: auto;
}

.str-settings .content .btn--save:hover{
	&::after{
		background-color: #67c5ee;
		// opacity: 1;
		width: 80%;
		bottom: -5px;
    filter: blur(6px);
    transition: opacity .3s ease;
	}
}

.str-busines__settings .item-input--tel{
	width: 393px;
}

.str-busines__settings .item-input--tel input:nth-child(3),
.str-busines__settings .item-input--tel input:nth-child(4){
	margin-left: 111px;
}

.str-busines__settings .item-input--download-baner {
  margin-bottom: 190px;
}

.str-busines__settings .main-property__last{
	box-sizing: unset;
}

.form-selected .castom-select-wrapper span{
	margin-right: 0;
}

.publication-str .items .icon{
	width: 15px;
	height: 15px;
}

.publication-str .items p{
	margin-bottom: 11px;
}

.others-parameters .other-parameters .title button{
	line-height: unset;
	box-sizing: border-box;
	padding-left: 11px;
	i{ margin-bottom: 7px; }
	// margin-bottom: 7px;
	position: relative;
	&::after{
		width: 85%;
		bottom: -1px;
		height: 2px;
		background-color: #ff4545;
	}
}

.publication-str .castom--items{
	margin-top: 48px;
	margin-bottom: 0;
	width: 691px;
	display: flex;
	flex-wrap: wrap;
	input{
		width: 588px;
	}
	&__content{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-top: 23px;
		padding-left: 106px;
	}
	img{
		width: 102px;
		height: 64px;
		margin-right: 12px;
	}
	h4{
		margin: 0;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		margin-bottom: 4px;
	}
	span{
		display: block;
		opacity: 0.6;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0.12px;
		margin-bottom: 5px;
	}
	.del{
		color: #ff4545;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.14px;
		background-color: unset;
		border: none;
		padding: 0;
	}
	del:focus{
		outline: none;
	}
}

.publication-str .items textarea{
	transition: all 400ms ease;
}

.acardion--border-bottom--active{
	border-bottom: 1px solid rgba(44,44,44,.2);
	margin-bottom: 58px;
}

.found-filter__body
.checkbox-wrapper 
input:checked+label::before{
	background-image: url('../img/icon/red-ok-mod.png');
  background-position: center;
  background-size: unset;
  border: none;
  box-shadow: 0 0 3px #ff4545;
}

.cabinet .checkbox-body input:checked + label::after{
	background-image: url('../img/icon/red-ok-mod.png');
  background-position: center;
  background-size: unset;
  border: none;
  box-shadow: 0 0 3px #ff4545;
}

input:checked + label::after{
	background-image: url('../img/icon/red-ok-mod.png') !important;
  background-position: center !important;
  background-size: unset !important;
  border: none !important;
  box-shadow: 0 0 3px #ff4545 !important;
}

.fix-d{
	.menu ul li button{
		font-size: 16px;
	}

	.menu ul li::after{
		top: 112%;
	}

	.fix-d-body{
		background-color: green;
	}
	.fix-d__castom-select-wrapper{
		box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		.list{
	    box-shadow: 0 4px 30px rgba(44,44,44,.2);
		}
	}
	.castom-select-wrapper--fix-d{
		box-shadow: 0 0 3px #2c2c2c;
		border-radius: 6px;
		background-color: #ffffff;
		color: rgba(44, 44, 44, .6);
	}
	.fix-d__border{
		position: absolute;
		width: 22px;
		height: 1px;
		background-color: #2c2c2c;
		opacity: 0.3;
	}
	.block-1{
		position: relative;
	}
	&__border{
		position: absolute;
		width: 22px;
		height: 1px;
		background-color: #2c2c2c;
		opacity: .3;
		left: 589px;
		top: 32%;
	}
	&__border--two{
    left: 895px;
	}
	&__block-coments{
		width: 100%;
		// height: 200px;
		// border: 1px solid red;
		margin-top: 42px;
		
		.title{
			display: flex;
			align-items: center;
			margin-bottom: 31px;
			height: 44px;
			p{
				margin: 0;
				display: flex;
				align-items: center;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 700;
				letter-spacing: 0.18px;
				margin-right: 24px;
				span{
					margin-left: 13px;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 14px !important;
					font-weight: 400 !important;
					letter-spacing: 0.14px !important;
					line-height: unset !important;
				}
			}
			.btn{
				width: 196px;
				height: 44px;
				border-radius: 22px;
				background-color: #ff4545;
				position: relative;
				margin-left: auto;
				margin-right: 0;
				&::after{ width: 85%; background-color: #ff4545; }
			}
		}
		
		.user-info{
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			img{
				margin-right: 12px;
				width: 44px;
				height: 44px;
			}
			p{
				margin: 0;
				// width: 122px;
				span{
					color: red;
				}
				span:nth-child(1){
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.14px;
					margin-bottom: 6px;
					opacity: 1;
				}
				b{
					opacity: 0.6;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.14px;
				}
			}
		}
		
		.main-input{
			margin-bottom: 36px;
		}
	
		.input{
			width: 100%;
			height: 45px;
			border-radius: 6px;
			border: 1px solid rgba(52, 52, 52, .3);
			color: rgba(44, 44, 44, .6);
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			/* Text style for "Н, аписать" */
			letter-spacing: 0.14px;
			box-sizing: border-box;
			padding-left: 13px;
		}

		.assessment{
			width: auto !important;
			margin: 0;
			margin-left: auto !important;
			margin-right: 0 !important;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			span{
				font-weight: 600;
			}
		}

		.input:focus{
			outline: unset;
		}

		.coments-body{
			.coment{
				margin: 0;
				margin-bottom: 13px;
				box-sizing: border-box;
				padding-left: 55px;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				letter-spacing: 0.14px;
			}
			.btn-wrapper{
				padding-left: 55px;
				margin-bottom: 28px;
				a{
					color: #ff4545;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.14px;
					text-decoration: none;
				}
				a:nth-child(1){
					margin-right: 592px;
				}
				a:nth-child(2){
					margin-right: 24px;
					margin-left: auto;
				}
				a:nth-child(3){
					margin-left: auto;
					margin-right: 0;
				}
			}
			.coment--two{
				input{
					margin-left: 55px;
					width: 782px;
					margin-bottom: 10px;
				}
				span{
					opacity: 0.6;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.12px;
				}
			}
			.user-info{
				a{
					color: #306c78;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.14px;
					text-decoration: none;
				}
				a:hover{
					color: #ff4545;
				}
			}
		}

		.show-more-coments{
			display: block;
			text-align: right;
			color: #ff4545;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.16px;
			text-decoration: none;
		}

		.my-assessment{
			width:395px;
			margin-left: auto;
			margin-right: 0;
			.form-slider__wrapper{
				width: 100%;
				display: flex;
				align-items: center;
			}
			.range-wrapper{
				margin-right: 25px;
			}
			span{
				margin-right: 19px;
			}
			.range-wrapper__number{
				display: flex;
				align-items: center;
				position: relative;
				span{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					z-index: 8;
				}
			}
		}
	}
}

.popup-str-busines-package{
	position: fixed;
}

.cabinet .radio-wrapper .item .active{
  background-color: #ff4545;
}


.cabinet .popup-block--mod{
	width: 792px;
	.pre-top{
		i{ margin-right: 6px; }
		box-sizing: border-box;
		padding-left: 13px;
		width: 100%;
		display: flex;
		align-items: center;
		height: 44px;
		box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		background-color: #ffffff;
		p{
			margin: 0;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			line-height: 21px;
			span{
				color: #2c2c2c;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				font-family: "Open Sans";
				letter-spacing: 0.14px;
			}
		}
	}
	label{
		cursor: pointer;
	}
	.top{
		margin: 0;
		padding: 0;
		.border{
			width: 1px;
			height: 24px;
			background-color: #ffffff;
			opacity: 0.2;
			margin: 0;
			font-weight: 400;
		}
	}
	
	.active-service{
		li{
			span{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				line-height: 14px;
				letter-spacing: 0.14px;
			}
			span:nth-child(1){
				margin-left: 19px;
				margin-right: 12px;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.14px;
			}
			a{
				width: 153px;
				height: 16px;
				color: #306c78;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 600;
				line-height: 14px;
				text-decoration: none;
				margin-right: 43px;
			}
			span:nth-child(3){
				margin-right: 44px;
			}
			span:nth-child(4){
				margin-right: 65px;
			}
			span:nth-child(5){
				margin-right: 34px;
			}
		}
		li:nth-child(+n+10){
			span:nth-child(1){
				margin-left: 10px;
			}
		}
	}

	.blur{
		width: 100%;
		position: absolute;
		bottom: -2px;
		height: 40px;
		background-color: #fff;
		filter: blur(4px);
	}
}

.str-busines .popup-block .popup-block__body li:hover{
	span{
		color: #fff;
	}
	color: #fff;
}

.cabinet .checkbox-body label::after{
	width: 18px;
	height: 18px;
}

.cabinet
.popup-block__body
.cabinet
.popup-block__body
.arhive-service{
	overflow-y: auto;
}


.title-wrapper:hover{
	a{ color: #306c78; }
}

.title-wrapper{
	a:hover{
    color: #ff4545;
    transition: all .2s ease;
	}
}

.my-slider:hover{
	.slider-pagination{
		opacity: 1;
		transition: all 200ms ease;
	}
}

.my-slider .slider-pagination{
	opacity: 0;
	transition: all 200ms ease;
}

.reviews-profile--my-joined .right .btn{
	transition: all 200ms ease;
	&::after{
		transition: all 200ms ease;
	}
}

.reviews-profile--my-joined .right .btn:hover{
	transition: all 200ms ease;
  box-shadow: 0 2px 30px rgba(44,44,44,.2);
	&::after{
		transition: all 200ms ease;
		width: 100%;
		bottom: 0px;
    background: #fff;
	}
}

.str-settings .content .btn--save{
	margin-bottom: 3px;
}

.str-settings .content .btn--save::after{
	width: 70% !important;
  height: 5px;
}

.offers-content__item-price{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	width: 220px;
}

.str-favourite .selecteds-search
.last-block-busines .item .left{
	border-right: 1px solid rgba(44,44,44,.2);
}

.str-notifications .menu span{
	font-size: 16px;
}

.cabinet .first .green::after{
	width: 90%;
}

.cabinet .popup-graph .block__paket li .point--start{
	margin-left: 55px;
	margin-right: 74px;
	// box-sizing: border-box;
}

.cabinet .popup-graph{
	box-sizing: border-box;
	padding-bottom: 15px;
	height: auto;
	position: fixed;
}

.cabinet .popup-graph .number-wrapper{
	bottom: 118px;
}

.cabinet .message-list .body .center b a:hover{
	color: #2c2c2c;
}

.str-ads .blockk .center .btn-review{
	padding-left: 0;
}

.str-ads .blockk .center .btn-delete:hover{
	i{
		background-image: url(../img/icon/cabinet/red-trash.png);
	}
}

.cabinet .popup-graph .menu .form-selected__stats{
  box-shadow: 0 0 3px #2c2c2c;
}

.found-filter__body .castom-select-wrapper .list::after{
	display: none;
}

.fix-d__block-coments .input{
	resize: none;
	margin-left: 55px;
	padding-top: 9px;
}

.mod-diz-like-active{
	i{
		background-image: url('../img/icon/red-diz-like.png');
	}
}

.mod-like-active{
	i{
		background-image: url('../img/red-like.png') !important;
	}
}

.publication-pay__category li .h2--mode i{
	cursor: pointer;
}

.publication-str .image-body li{
	cursor: pointer;
}

.publication-str .image-body li:hover{
	opacity: .8;
}

.acardion--start-hidden{
	opacity: 0;
}

.message-container-wrapper .left .end button:nth-child(1):hover{
	i{ opacity: 1; }
}

.message-container-wrapper .left .end .submit-btn:hover{
	opacity: .8;
}

.message-container-wrapper .left .body .message .body{
	padding-left: 11px;
}


.resviews-profile ul li{
	transition: all 250ms ease;
}
.resviews-profile ul li:hover{
	box-shadow: 0 4px 30px 0 rgba(44,44,44,.2);
  transition: all 250ms ease;
}


.cabinet .message-list .body li{
	transition: all 250ms ease;
}

.cabinet .message-list .body li:hover{
	box-shadow: 0 4px 30px 0 rgba(44,44,44,.2);
  transition: all 250ms ease;
}

.found .sort-by .form-selected{
	margin-bottom: 30px;
}

.found .sort-by .chance-views .active{
	border-radius: 6px;
}

.found-users-businesses .user-information .title li{
	border-radius: 6px;
}

.other-param--mode{
	width: 200px !important;
}

.new-block-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.online-and-offline{
		display: flex;
		align-items: center;
	}
	.icon-place-mark{
		margin-right: 6px;
		width: 12px;
		height: 15px;
		opacity: .6;
		background-size: contain;
	}
	.city{
		margin-right: 11px;
	}
	.ind{
		display: block;
		border-radius: 50%;
		margin-right: 5px;
		width: 6px;
		height: 6px;
		background-color: #52ac62;
	}
	.offline{
		background-color: #ff4545;
	}
}

.last-block-busines .resviews-profile .other-param span{
	width: auto;
}

.last-block-busines .resviews-profile .other-param span i{
	margin-right: 6px;
	width: 18px;
	height: 18px;
	margin-left: -3px;
}

.cabinet .cabinet-navigation{
	border-bottom: 1px solid rgba(44,44,44,.2);
	box-shadow: 0 0 5px rgba(44,44,44,.3);
}

.icon-cabinet-trash-grey:hover{
	background-image: url(../img/icon/cabinet/red-trash.png) !important;
}

.icon-cabinet-star-grey:hover{
	background-image: url(../img/icon/star-red-full.png) !important;
}

.icon-cab-reserve:hover{
	background-image: url(../img/icon/cabinet/icon-reserve-red.png) !important;
}


.cabinet .popup-graph{
	border-radius: 6px;
}

.title--active--fix-f{
	display: flex;
	.checkbox-body{
		margin-right: 23px !important;
	}
	a{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		text-decoration: none;
		margin-right: 22px;
	}
	a:hover{
		color: #ff4545;
	}
}

.str-ads .title__no-active a{
	color: #2c2c2c;
}

.str-ads .title__no-active a:hover{
	color: #ff4545;
}

.fix_d-new-btn{
	// width: 122px;
	margin-right: 12px;
	border-radius: 6px;
	box-sizing: border-box;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 12px;
	padding-right: 12px;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .16px;
	border: none;
	background-color: unset;
	transition: all 300ms ease;
	margin: 0 !important;
}

.fix_d-new-btn--active{
	background-color: #ffdada;
	transition: all 300ms ease;
}

.found .gallery-wrapper .gallery-wrapper-end .title-wrapper .start{
	width: auto;
}

.pagination .button-prev{
	width: 44px;
	height: 44px;
	box-shadow: 0 2px 16px rgba(44, 44, 44, 0.2);
	border: 1px solid #306c78;
	background-color: #ffffff;
	opacity: 0.2;
	cursor: auto;
}

.pagination .button-next{
	width: 44px;
	height: 44px;
	border: 1px solid rgba(44, 44, 44, .2);
	background-color: #ffffff;
}

.str-ads .blockk .message-btn:hover{
	i{
		background-image: url('../img/fix/hover-message.png');
	}
}

.help-str--include .state .btn{
	i{
		background-image: url('../img/new-arow-red.png');
	}
}

.icon-diz-like, .icon-like{
	background-size: contain;
}

.border__like{
	height: 100%;
	width: 1px;
	background-color: rgba(44,44,44,.2);
}

label:hover{
	cursor: pointer;
}

.others-parameters .other-parameters .title button{
	i{
		transition: all 500ms ease !important;
	}
}

.others-parameters .other-parameters .title button span{
	width: 106px;
}

.last-block-busines .resviews-profile .other-param span i{
	margin-right: 3px;
}

.cabinet .your-account span{
	margin-top: 0;
}

.cabinet .your-account{
	margin-top: 5px;
}

.list{
	transition: all 150ms ease;
}

.str-busines__stat .right .form-selected .castom-select-wrapper{
	box-shadow: 0 0 3px #2c2c2c;
}

.reviews-profile--my-joined .right .btn{
	transition: box-shadow .3s ease;
  box-shadow: 0 4px 30px rgba(44,44,44,.2);
}

.reviews-profile--my-joined .right .btn:hover{
	transition: box-shadow .3s ease;
  box-shadow: 0 4px 30px rgba(44,44,44,.1);
}

.message-container-wrapper .right .v-1 .body{
	box-shadow: unset;
}