.help-str{
	.body{
		display: flex;
		justify-content: space-between;
	}
	h1{
		margin-top: 52px;
		margin-bottom: 32px;
		width: 100%;
		min-height: 62px;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 64px;
		line-height: 64px;
		font-weight: 300;
		letter-spacing: 0.64px;		
		text-align: center;
	}
	h2{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
		color: #2c2c2c;
		letter-spacing: 0.24px;
	}
	h3{

	}

	.main{
		width: 894px;
		// border: 1px solid green;
		margin-bottom: 64px;
		> h2{
			margin: 0;
			width: 100%;
			height: 64px;
			border-radius: 6px 6px 0 0;
			background-color: #306c78;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
		}
		.ac-wrapper{
			.ac-title{
				margin-top: 12px;
				margin-bottom: 12px;
				display: flex;
				width: 100%;
				height: 64px;
				box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
				border: 1px solid #ffffff;
				background-color: #ffffff;
				box-sizing: border-box;
				padding-left: 26px;
				align-items: center;
				position: relative;
				opacity: 0.7;
				transition: all 250ms ease;
				a{
					text-decoration: none;
					color: #2c2c2c;
				}
				i{
					position: absolute;
					right: 24px; 
					top: 50%;
					transform: translateY(-50%);
				}

			}
		}
		.ac-item{
			width: 100%;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
			border: 1px solid #ffffff;
			background-color: #ffffff;
			box-sizing: border-box;
			padding-left: 46px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			position: relative;
			h3{
				cursor: pointer;
				display: block;
				display: flex;
				align-items: center;
				width: 100%;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 18px;
				font-weight: 400;
				line-height: 18px;
				letter-spacing: 0.18px;
				margin: 0;
				transition: color 250ms ease;
				margin-top: 23px;
				margin-bottom: 26px;
			}
			h3:hover{
				color: #ff4545;
				transition: color 250ms ease;
			}
			i{
				position: absolute;
				left: 24px;
				top: 24px;
			}
			ul{
				padding: 0;
				margin: 0;
				list-style: none;
				li{
					margin-bottom: 16px;
					a{
						text-decoration: none;
						color: #006c79;
						font-family: "Open Sans";
						font-size: 16px;
						font-weight: 400;
						line-height: 16px;
						letter-spacing: 0.16px;
						transition: color 250ms ease;
					}
					a:hover{
						color: #ff4545;
						transition: color 250ms ease;
					}
				}
				li:last-child{
					margin-bottom: 32px;
				}
			}
		}
		.ac-title{
			i{
				transition: all 200ms ease;
				transform: translateY(-50%) rotate(0deg);
			}
		}
		.ac-title--active{
			i{
				background-image: url('../img/icon/icon-for-help/down-red.png');
				transition: all 200ms ease;
				transform: translateY(-50%) rotate(-180deg) !important;
			}
		}

		.ac-item{
	    // min-height: 0;
	    // height: 0;
			max-height: 0px;

	    box-sizing: border-box;
	    overflow: hidden;
	    border: 0px solid #fff !important;
	    transition: all 250ms ease-out;
		}
		.ac-item--active{
			max-height: 180px;
			height: auto;
	    overflow: hidden;
	    border: 1px solid #fff !important;    
	    transition: max-height 400ms ease-in;
		}

		.ac-item__list{
			min-height: 0;
	    height: 0;
	    box-sizing: border-box;
	    overflow: hidden;
	    transition: all 250ms ease-out;
		}
		.ac-item__list--active{
			min-height: 130px;
	    transition: min-height 250ms ease-in;

		}
		.ac-title:hover{
			cursor: pointer;
			opacity: 1;
			transition: all 200ms ease;
			i{
				// background-image: url('../img/icon/icon-for-help/down-red.png');
			}
		}			
	}

	.state{
		width: 284px;
		height: 498px;
		box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
		border-radius: 6px;
		border: 1px solid #ffffff;
		background-color: #ffffff;		
		> h2{
			box-sizing: border-box;
			margin: 0;
			width: 100%;
			height: 61px;
			border-radius: 6px 6px 0 0;
			border: 1px solid #ff4545;
			background-color: #ff4545;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			margin-top: 21px;
			box-sizing: border-box;
			padding-left: 21px;
			li{
				margin-bottom: 20px;
				position: relative;
				i{
					position: absolute;
					left: -12px;
					top: 50%;
					transform: translateY(-50%);
				}
				a{
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.14px;
					text-decoration: none;
					transition: color 250ms ease;
				}
			}
			li:hover{
				a{
					color: #ff4545;
					transition: color 250ms ease;
				}
				i{
					opacity: 1;
					transition: color 250ms ease;
				}
			}
		}
	}
}

.help-str--include{
	.main{
		.located{
			font-size: 14px;			
			span:first-child{
				a{
					text-decoration: none;
					color: #006c79;
				}
				a:hover{
					color: #ff4545;
				}
				color: #006c79;
			}
			span{
				opacity: 0.6;
				color: #2c2c2c;
			}
		}
		h2{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 36px;
			font-weight: 400;
			line-height: 36px;
			letter-spacing: 0.36px;
			background-color: unset;
			text-align: left;
			justify-content: flex-start;
		}
		.content{
			width: 100%;
			min-height: 945px;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
			border-radius: 6px;
			background-color: #ffffff;
			box-sizing: border-box;
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 23px;
			padding-right: 23px;
			p{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.16px;
			}
		}
	}
	.state{
		margin-top: 110px;
		margin-bottom: 24px;
		.btn-and-form-wrapper{
			transition: box-shadow 300ms ease;
			box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		}
		.btn-and-form-wrapper:hover{
			transition: box-shadow 300ms ease;
			box-shadow: 0 4px 30px rgba(44, 44, 44, 0.1);
		}
		.btn{
			width: 282px;
			height: 44px;
			// box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
			border-radius: 6px;
			background-color: #ffffff;
			color: #ff4545;			
			position: relative;
			font-weight: 600;
			transition: all 200ms ease;
			opacity: 1;
			&::after{
				background-color: #fff;
				width: 90%;
				bottom: 2px;
				transition: all 200ms ease;
			}
			i{
				margin-left: 7px;
				background-image: url('../img/icon/icon-for-help/down-red.png');
			}
		}
		.btn:hover{
			transition: all 200ms ease;
			&::after{
				transition: all 200ms ease;
				opacity: 0;
			}
		}
		.form{
			// margin-top: 40px;
			width: 100%;
			max-height: 0;
			overflow-y: hidden;
			// min-height: 227px;
			// box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
			border-radius: 6px;
			background-color: #ffffff;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			box-sizing: border-box;
			padding-top: 24px;
			padding-bottom: 23px;
			transition: all 300ms ease;
			padding: 0;			
			input{
				width: 258px;
				height: 44px;
				border-radius: 6px;
				border: 1px solid #343434;
				opacity: 0.6;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				margin: 0;
				margin-bottom: 24px;
			}
			input:focus{
				border: 1px solid #ff4545;
		    outline: 0;
		    transition: all 250ms ease;
			}
			button{
				border: none;
				outline: none;
				width: 258px;
				height: 44px;
				border-radius: 22px;
				background-color: #ff4545;
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 600;
				line-height: 16px;
				letter-spacing: 0.16px;
				position: relative;	
				&::after{
					position: absolute;
					content: '';
					left: 50%;
					bottom: 0px;
					transform: translateX(-50%);
					width: 206px;
					height: 14px;
					background-color: #ff4545;
					opacity: 0.6;
					z-index: 2;
					filter: blur(6px); 
					transition: opacity 300ms ease;
				}
			}
			button:hover{
				// opacity: 0.8;
				transition: opacity 300ms ease;
				&::after{
					opacity: 0;
					transition: opacity 300ms ease;
				}
			}
		}
		.form--active{
			max-height: 227px;
			padding-top: 10px;
			padding-bottom: 23px;			
			transition: all 300ms ease;
		}
	}
}