.icon-anonim{
	background-image: url('../img/icon/user_icon.png');
	width: 44px;
	height: 44px;
	background-color: #343434;	
	display: block;
	border-radius: 50%;
}

.icon-profile{
	width: 16px;
	height: 15px;
	opacity: 0.6;
	background-image: url('../img/icon/user.png');
	background-position: center center;
	background-size: cover;
	display: block;
}

.icon-star{
	width: 16px;
	height: 15px;
	opacity: 0.6;
	background-image: url('../img/icon/star.png');
	background-position: center center;
	background-size: cover;
	display: block;
}

.icon-exit{
	width: 15px;
	height: 16px;
	opacity: 0.6;
	background-image: url('../img/icon/exit.png');
	background-position: center center;
	background-size: cover;
	display: block;
}

.icon-exit-chrest{
	width: 25px;
	height: 25px;
	background-image: url('../img/icon/exit-chrest.png');
	background-position: center center;
	// background-size: cover;
	background-size: contain;
	display: block;	
}

.icon-exit-chrest--red{
	width: 25px;
	height: 25px;
	background-image: url('../img/icon/exit-chrest--red.png');
	background-position: center center;
	background-size: contain;
	display: block;	
}

.icon-yellow{
	width: 22px;
	height: 22px;
	background-color: #fff166;	
	border-radius: 50%;
	display: block;
	text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0.12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-red{
	width: 22px;
	height: 22px;
	background-color: #ff4545;
	border-radius: 50%;
	display: block;
	text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0.12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-dark{
	width: 22px;
	height: 22px;
	background-color: #343434;
	border-radius: 50%;
	display: block;
	text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0.12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.soc-vk,
.soc-youtube,
.soc-inst{
	width: 36px;
	height: 36px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #343434;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.soc-youtube a{
	background-image: url('../img/icon/youtube.svg');
	width: 19px;
	height: 15px;
}

.soc-inst a{
	background-image: url('../img/icon/inst.svg');
	width: 16px;
	height: 16px;
}

.soc-vk a{
	background-image: url('../img/icon/vk.svg');
	width: 19px;
	height: 13px;	
}

.soc-youtube a,
.soc-inst a,
.soc-vk a{
	display: block;
	opacity: 0.2 !important;
	transition: all 250ms ease;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.soc-youtube:hover,
.soc-inst:hover,
.soc-vk:hover{
	a{
		opacity: 0.6 !important;
		transition: all 250ms ease;
	}
}

.icon-place-mark{
	display: block;
	width: 19px;
	height: 23px;
	opacity: 0.6;
	background-image: url('../img/icon/place-mark.png');
	background-position: center center;
	background-size: cover;
}

.icon-arrow-right{
	display: block;
	width: 7px;
	height: 12px;
	background-image: url('../img/icon/arrow-right.png');
	background-position: center center;
	background-size: cover;
}

.icon-arrow-left{
	display: block;
	width: 7px;
	height: 12px;
	background-image: url('../img/icon/icon-arrow-left.png');
	background-position: center center;
	background-size: cover;
}

.icon-plus{
	display: block;
	width: 16px;
	height: 16px;
	background-image: url('../img/icon/plus.png');
	background-position: center center;
	background-size: cover;
}

.icon-diamond{
	display: block;
	width: 24px;
	height: 22px;
	// background-color: #2c2c2c;
	opacity: 0.6;
	background-image: url('../img/icon/diamond.png');
	background-position: center center;
	background-size: cover;	
}

.icon-star--red{
	width: 24px;
	height: 23px;
	background-image: url('../img/icon/star-red.png');
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;
}

.icon-star--red-full{
	width: 24px;
	height: 23px;
	background-image: url('../img/icon/star-red-full.png');
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;
}

.icon-arrow-down{
	width: 12px;
	height: 7px;
	background-image: url('../img/icon/icon-arrow-down.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
}

.icon-arrow-down--white{
	width: 12px;
	height: 7px;
	background-image: url('../img/icon/down-arrow-white.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;
	cursor: pointer;
}

.arrow-down-circle{
	width: 20px;
	height: 20px;
	background-image: url('../img/icon/arrow-down-circle.png');
	opacity: 0.6;
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;	
}

.password-icon{
	background-image: url('../img/icon/form_pass_icon.png');
	width: 16px;
	height: 12px;
	background-color: #2c2c2c;
	opacity: 0.6;
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;	
}

.form-succes-blue{
	width: 24px;
	height: 25px;
	background-image: url('../img/icon/correct-blue.png');
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;	
}

.arrow-down-red-while-wrapper{
	cursor: pointer;
	display: block;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	position: relative;
	box-shadow: 0 4px 30px rgba(44, 44, 44, 0.3);
	transition: all 300ms ease;
	background-color: #ffffff;
	transform: translateX(-50%);
	&::after{
		content: '';
		background-image: url('../img/icon/arrow-down-red.png');
		background-position: center center;
		background-size: cover;
		display: block;
		cursor: pointer;	
		width: 12px;
		height: 7px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
.arrow-down-red-while-wrapper:hover{
	// transition: all 300ms ease;
	// transform: scale(1.1);
}

.icon-red-arrow-up{
	width: 16px;
	height: 9px;
	background-image: url('../img/icon/icon-for-help/down-black.png');
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;
}

.icon-red-plus-border{
	width: 16px;
	height: 16px;
	background-image: url('../img/icon/icon-red-plus-border.png');
	background-position: center center;
	background-size: cover;
	display: block;
	cursor: pointer;	
}

.icon-red-cirle{
	display: block;
	border-radius: 50%;
	width: 6px;
	height: 6px;
	background-color: #ff4545;
	opacity: 0.6;
}

.icon-left-arrow-blue{
	width: 7px;
	height: 12px;
	background-image: url('../img/icon/icon-arrow-left-blue.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;
}

.colocol-blue{
	width: 14px;
	height: 16px;
	background-image: url('../img/reviews-profile/colocol-blue.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;	
}

.message-blue{
	width: 16px;
	height: 16px;
	background-image: url('../img/reviews-profile/message-blue.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;	
}

.icon-tresh{
	width: 15px;
	height: 16px;
	background-image: url('../img/reviews-profile/trash.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;	
}

.icon-mark{
	width: 15px;
	height: 16px;
	background-image: url('../img/reviews-profile/marki.png');
	background-position: center center;
	background-size: cover;
	display: inline-block;	
}

.icon-warrning-black{
	width: 12px;
	height: 12px;
	display: block;
	background-image: url('../img/warning.png');
	background-position: center center;
	background-size: cover;
}