.found-filter{
	&__nav-wrapper{
		display: flex;
		justify-content: space-between;
		height: 31px;
		align-items: center;
		margin-bottom: 22px;
	}

	.right{
		display: flex;
		align-items: center;
		width: 272px;
		height: 23px;
		span{
			margin-right: 12px;
			opacity: 0.6;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;	
		}
	}

	&__body{
		
		.block{ margin-bottom: 33px; }

		.line{
			width: 22px;
			height: 1px;
			background-color: #2c2c2c;
			opacity: 0.3;
			position: absolute;
			left: 50%;
			top: 70%;
			transform: translate(-50%, -70%);
			z-index: -1;
		}

		.form-selected{
			background-color: unset;
			box-shadow: unset;
			margin: 0;
			padding: 0;
		}
		.castom-select-wrapper{
			box-sizing: border-box;
			padding-left: 12px;
			width: 282px;
			margin-right: 24px;
			position: relative;
			// z-index: 4;

			.icon{
				margin-left: 0;
				margin-right: 12px;
			}
			.list{
				top: 105%;
			}
			.list__item{
				width: 100%;
				margin: 0;
				display: flex;
				align-items: center;
				padding-left: 13px;
				i{ margin-right: 12px; }
				position: relative;
				.count{
					background-color: #fff;
					position: absolute;
					right: 29px;
					border-radius: 15px;
					border: 1px solid rgba(52, 52, 52, .2);
					font-weight: 400;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 12px;
					font-weight: 400;
					letter-spacing: 0.12px;
					box-sizing: border-box;
					// padding-left: 5px;
					// padding-right: 5px;
					// padding-top: 8px;
					// padding-bottom: 8px;
					padding: 5px;
				}
			}
			.list__item:hover{
				background-color: #343434;
				color: #fff;
			}
		}
		.castom-select-wrapper:last-child{
			margin-right: 0;
		}

		.block-2{
			margin-bottom: 37px;
		}
		.block-2  .section{
			width: 284px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-right: 21px;
			position: relative;
			h4{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				width: 100%;
				margin-bottom: 10px;
				margin-top: 0;
			}
			.castom-select-wrapper{
				width: 135px;
				height: 44px;
				margin: 0;
			}
		}
		.block-2 .section:last-child{
			margin-right: 0;
		}

		.block-3{
			.castom-select-wrapper:nth-child(3){
				margin-right: 0;
			}
		}

		.checkbox-wrapper{
			// margin-right: 23px;
			label{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				position: relative;
				&::before{
					position: absolute;
					left: -23px;
					top: 50%;
					transform: translateY(-50%);
					content: '';
					width: 16px;
					height: 16px;
					border-radius: 2px;
					border: 1px solid rgba(44, 44, 44,  .6);
					background-color: #fff;
					// opacity: 0.6;
					background-position: center;
					background-repeat: no-repeat;
					background-size: 12px 9px;
				}
			}
			input:checked + label::before{
				// background-color: red;
				background-image: url('../img/icon/icon-for-found/red-ok.png');
			}
		}
		.checkbox-wrapper:last-child{
			margin-right: 0;
		}

		.checkbox-body{
			width: 222px;
			display: flex;
			justify-content: space-between;
	    margin-right: 92px;
		}

	}

	&__btn{
		width: 274px;
		background-color: #ff4545;
		position: relative;
		&::after{
			background-color: #ff4545;
		}
	}

}

.found{
	.top-offers .title-wrapper{
		h2{
			display: flex;
			align-items: center;
			span{
				margin-left: 12px;
				border-radius: 15px;
				background-color: #ff4545;
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				box-sizing: border-box;
				padding: 5px;
			}
		}
		button{
			width: 182px;
			height: unset;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-size: 16px;
			line-height: 16px;
			i{
				width: 7px;
				height: 12px;
				transform: rotate(180deg);
			}
		}
	}

	.last-block-busines{
		margin-bottom: 58px;
	}

	.offers{
		h2{
			display: flex;
			align-items: center;
		}
		.count{
			margin-left: 12px;
			border-radius: 15px;
			background-color: #2c2c2c;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 16px;
			line-height: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;
			box-sizing: border-box;
			padding: 5px;
		}
		.item .right{
			background-color: #fff;
		}

		.title-wrapper{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left{
				span{
					color: #306c78;
				}
			}
			.right{
				span{
					width: 122px;
					margin-right: 12px;
					border-radius: 6px;
					background-color: #ffdada;
					box-sizing: border-box;
					padding-top: 2px;
					padding-bottom: 2px;
					padding-left: 12px;
					padding-right: 12px;
					color: #2c2c2c;
					font-family: "Open Sans";
					font-size: 16px;
					font-weight: 400;
					letter-spacing: 0.16px;
				}
			}
		}
	}

	.gallery-wrapper{
		.offers-content{
			margin-bottom: 34px;
		}
		&__offers{
			.offers-content__item{
				position: relative;
			}
			.icon-wrapper{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				padding: 0;
				background-color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				left: 50%;
				top: -25px;
				transform: translateX(-50%);
				i{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.title{
				display: flex;
				justify-content: space-between;
				margin-bottom: 28px;
				.start{
					width: 320px;
					display: flex;
					align-items: center;
					i{ margin-right: 12px; }
					> span{ 
						margin-right: 12px;
						color: #2c2c2c;
						font-family: "Open Sans";
						font-size: 24px;
						line-height: 24px;
						font-weight: 400;

					}
					.count{
						margin: 0;
						height: 24px;
						font-size: 16px;
						background-color: #ff4545;
						color: #fff;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
				.end{
					button{
						color: #306c78;
						font-family: "Open Sans";
						font-size: 16px;
						font-weight: 400;
						line-height: 16px;
						letter-spacing: 0.16px;
						background-color: unset;
						border: none;
						i{
							transform: rotate(180deg);
						}
					}
					button:hover{
						color: #ff4545;
					}
				}
			}
		}
		.gallery-wrapper-end{
			.title-wrapper{
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 40px;
				.start{
					width: 400px;
					display: flex;
					justify-content: space-between;
					p:nth-child(2){
						width: 187px;
						height: 24px;
						border-radius: 6px;
						background-color: #ffdada;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			.offers-content__item-name{
				height: unset;
				margin-bottom: 14px;
			}
			.offers__icon-wrapper{
				display: block;
				width: 282px;
				height: 204px;
				position: relative;
				padding: 0;
				border-bottom: 1px solid rgba(44, 44, 44, .2);
				i{
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.sort-by{
		.form-selected{
			border: none;
			box-shadow: none;
			background-color: unset;
			padding: 0;
			margin-bottom: 43px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.start{
				width: 620px;
				display: flex;
			}
			.end{

			}
		}
		.castom-select-wrapper{
			width: 282px;
			margin-right: 24px;
			box-sizing: border-box;
			padding-left: 12px;
			margin-bottom: 0;
		}
		.chance-views{
			button{
				background-color: unset;
				border: none;
				// width: 62px;
				// height: 16px;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				margin: 0;
				margin-right: 12px;
				padding: 0;
				width: 80px;
				height: 24px;
				cursor: pointer;
			}
			button:last-child{
				margin-right: 0;
			}
			button:focus{
				outline: none;
			}

			.active{
				border-radius: 15px;
				// border: 2px solid rgba(255, 69, 69, .2);
				background-color: rgba(255, 69, 69, .2);
			}
		}
	}
}

.save-result-founds{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
	&__wrapper{
		width: 64px;
		height: 64px;
		background-color: rgba(255, 69, 69, 0.2);
		// opacity: 0.2;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		margin-bottom: 9px;
	}
	span{
		opacity: 0.6;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0.16px;
		width: 100%;
		text-align: center;
	}
}

.open-close-other-filters{
	display: flex;
	.found-filter__btn{
    width: 274px;
    background-color: #ff4545;
    position: relative;
    color: #fff;
    margin-left: 568px;
	}
	.roll-up{
		width: 250px;
		text-align: left;
	}
	.reset{
		width: 110px;
		text-align: left;
	}
	button{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: 0.16px;
		background-color: unset;
		border: none;
		position: relative;		
		span{
			margin-right: 5px;
		}
		.icon-active{
			transform: translateY(-50%)  rotate(180deg);
		}
		i{
	    width: 12px;
	    height: 12px;
	    background-position: center center;
	    background-size: contain;
	    display: inline-block;
	    cursor: pointer;
	    background-repeat: no-repeat;
			transition: all 100ms ease;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
		}
	}
	button:focus{
		outline: none;
	}
}

.last-block-busines .resviews-profile .add-to-favotite span{
	cursor: pointer;
}

// Тот же фоунт что и вверху просто для удобства
.found{
	.user-info{
		margin-top: 28px;
		margin-bottom: 32px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.title{
			display: flex;
			flex-wrap: wrap;
			i{
				margin-right: 16px;
			}
			h2{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 36px;
				font-weight: 300;
				letter-spacing: 0.36px;
				margin: 0;
				margin-bottom: 12px;
			}
			a{
				opacity: 0.6;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 300;
				letter-spacing: 0.14px;
				text-decoration: none;
			}
		}
		.end{
			display: flex;
			height: 22px;
			align-items: center;
			span{
				opacity: 0.6;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.16px;
				margin-right: 16px;
			}
			.soc-wrapper{
				width: 106px;
				height: 22px;
			}
			li{
				width: 22px;
				height: 22px;
			}
		}
	}
	.no-found{
		margin-top: 30px;
		margin-bottom: 64px;
		.title{
			margin-bottom: 44px;
			h2{
				margin: 0;
				margin-top: 0;
				margin-bottom: 10px;
				color: #2c2c2c;
				line-height: 36px;
				font-size: 24px;
				font-weight: 600;
			}
			span{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
	.list__item:hover{
		background-color: #343434;
		color: #fff;
		i{
			
		}
	}
	.sort-by-type__body{
 		.line{
 			top: 50%;
 			transform: translate(-50%, -50%);
 		}
	}
	.form-selected .castom-select-wrapper span{
		margin-right: 0;
	}

}

.found-header{
	.right{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		height: 23px;
		cursor: pointer;
		span{
			opacity: 0.6;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;
			margin-right: 12px;
		}
	}
	.wrapper{
		display: flex;
		justify-content: space-between;
	}
	.btn{
		background-color: #ff4545;
		position: relative;
		i{
			position: absolute;
			left: 24px;
			top: 50%;
			transform: translateY(-50%);
		}
		&::after{
			background-color: #ff4545;
		}
	}
}

.found-header--businesses-pro{
	justify-content: unset;
	.nav-bar-wrapper{
		position: absolute;
	}
	.btn{
		position: absolute;
		right: 450px;
	}
}

.found-users{
	.offers .title-wrapper .left{
		width: 570px;
	}
	.offers .title-wrapper .left a{
		margin-right: 0;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		margin-right: 22px;
		box-sizing: border-box;
		padding-left: 12px;
		padding-right: 12px;
		border-radius: 6px;
		background-color: unset;
		margin-right: 0;
	}
	.offers .title-wrapper .left a:hover{
		// /* Style for "Прямоуголь" */
		// width: 223px;
		// height: 24px;
		// border-radius: 6px;
		background-color: #ffdada;
	}
	.found-filter__body{
		.checkbox-body{
			input{display: none;}
			width: auto;
		}
		.checkbox-wrapper{
			display: block;
			box-sizing: border-box;
			padding-left: 22px;
			margin-right: 23px;
		}
	}
}

.found-users-standart{
	.sort-by{
		display: flex;
		justify-content: flex-end;
		margin-top: 44px;
		margin-bottom: 30px;
	}
	.found-filter__nav-wrapper{
		height: auto;
		margin-bottom: 36px;
		.form-selected{
			box-shadow: unset;
			padding: unset;
			align-items: center;
			position: relative;
			.right{
				position: absolute;
				right: 0px;
			}
		}
		.castom-select-wrapper{
			margin-bottom: 0;
			width: 282px;
		}
	}
}

.found-users-businesses{
	.user-information{
		width: 100%;
		// height: 167px;
		border-radius: 6px;
		border: 1px solid rgba(44, 44, 44, .2);
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 36px;
		.hr{

		}
		h2{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 36px;
			font-weight: 400;
			letter-spacing: 0.36px;
			margin: 0;
		}
		.left{
			margin-top: 13px;
			width: 450px;
			box-sizing: border-box;
			padding-left: 25px;
		}

		.right{
			width: 697px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			padding-right: 25px;
			a:hover{
				color: #ff4545;
			}
		}
		ul{
			width: 450px;
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			margin-top: 20px;
		}
		li{
			width: 50%;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;
			margin-bottom: 20px;
		}
		.img-wrappper{
			width: 156px;
			height: 102px;
			border-radius: 6px;
			background-color: #000000;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				width: 111px;
				height: 102px;
			}
		}
		.icon{

		}
		.map{
			a{
				display: block;
				margin-top: 15px;
				color: #006c79;
				font-family: "Open Sans";
				font-size: 14px;
				font-weight: 400;
				letter-spacing: 0.14px;
				text-decoration: none;
			}
		}
		.site{
			display: flex;
			align-items: center;
			a{
				color: #006c79;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				text-decoration: none;
			}
			i{
				display: block;
				margin-right: 13px;
				width: 23px;
				height: 23px;
				background-image: url('../img/icon/icon-for-found/users/site.png');
			}
		}
		.place{
			display: flex;
			align-items: center;
			i{
				display: block;
				margin-right: 12px;
				width: 19px;
				height: 23px;
				background-image: url('../img/icon/icon-for-found/users/mark.png');
			}
		}
		.phone{
			display: flex;
			align-items: center;
			i{
				display: block;
				margin-right: 13px;
				width: 23px;
				height: 23px;
				background-image: url('../img/icon/icon-for-found/users/phone.png');
			}
		}

		.title{
			width: 100%;
			box-sizing: border-box;
			padding-left: 25px;
			padding-right: 25px;
			padding-top: 13px;
			padding-bottom: 14px;
			position: relative;
			ul{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				padding: 0;
				margin: 0;
				justify-content: unset;
			}
			li{
				width: unset;
				margin-bottom: 0;
				margin-right: 12px;
		    border-radius: 15px;
		    box-sizing: border-box;
		    padding-left: 12px;
		    padding-right: 12px;
		    background-color: unset;
			}
			li:hover{
		    // background-color: rgba(255,69,69,.2);
			}
			.open-filter{
				margin-right: 0;
				position: absolute;
				right: 25px;
				top: 50%;
				transform: translateY(-50%);
				padding: 0;
		    background-color: unset;
				i{
					transition: all 200ms ease;
					transform: rotate(0deg);
				}
			}
			.open-filter:hover{
				background-color: unset;
			}
			.open-filter--active{
				i{
					transition: all 200ms ease;
					transform: rotate(180deg);
				}
			}
			a{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				text-decoration: none;
			}
			.menu-btn{
				
			}
			.menu-btn--active{
				background-color: rgba(255,69,69,.2);
			}
		}
	}
	.sort-by{
		text-align: right;
		margin-bottom: 33px;
	}
	.block-3{
		align-items: center;
		.castom-select-wrapper{
			margin-bottom: 0;
		}
	}
	.body-filter{
		height: 0px;
	}
	.body-text{
		box-sizing: border-box;
		padding-left: 25px;
		padding-right: 25px;
		height: 0;
		p{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.16px;
		}
	}
}

.found-users-businesses-pro{
	.result-found{
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.last-block-busines{
		width: 894px;
	}
	.last-block-busines .resviews-profile .right{
		width: 612px;
		padding-right: 0;
		padding-bottom: 0;
	}

	.located{
		margin-bottom: 16px;
	}

	.baner{
		margin-bottom: 48px;
	}

	.users{
		width: 282px;
		height: 563px;
		// background-color: grey;
		position: relative;
		.first-text{
			display: block;
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
			opacity: 0.6;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;
		}
		.icon-wrapper{
			width: 50px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #fff;
			border-radius: 50%;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
			position: absolute;
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
			i{
				width: 24px;
				height: 23px;
			}
		}

		&__body{
			width: 100%;
			// height: 543px;
			box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
			background-color: #ffffff;
			border-radius: 10px;
			padding-bottom: 23px;
		}
	
		.img-wrapper{
			padding-top: 36px;
			margin-bottom: 30px;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		img{
			width: 111px;
			height: 102px;
		}

		.content{
			box-sizing: border-box;
			padding-left: 23px;
			h4{
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 24px;
				font-weight: 400;
				letter-spacing: 0.24px;
				margin-bottom: 15px;
				margin-top: 0;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
			}
			li{
				margin-bottom: 27px;
				box-sizing: border-box;
				padding-left: 35px;
				position: relative;
				i{
					position: absolute;
					left: 0;
				}
			}
			span{
				display: block;
				width: 100%;
				margin-bottom: 12px;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
			}
			a{
				color: #006c79;
				font-family: "Open Sans";
				font-size: 16px;
				line-height: 16px;
				font-weight: 400;
				letter-spacing: 0.16px;
				text-decoration: none;
			}
		}

		.text{
			// width: 100%;
			// width: 224px;
			height: 100px;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 21px;
			overflow: hidden;
			text-overflow: ellipsis;
			box-sizing: border-box;
			padding-right: 35px;
			a{
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
			}
		}

		a:hover{
			color: #ff4545;
		}

	}

}

.found-spare-parts{
	.located{
		margin-bottom: 25px;
	}
	.found-filter__nav-wrapper{
		height: unset;
		flex-wrap: wrap;
		h2{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 36px;
			font-weight: 400;
			height: 27px;
			margin: 0;
			margin-bottom: 40px;
			letter-spacing: 0.36px;
			width: 100%;
		}
	}
	.found-filter__body .form-selected{
		align-items: flex-end;
	}
	.block-2{
		position: relative;
		margin-bottom: 64px;
	}
	.found-filter__btn{
		position: absolute;
		right: 0;
	}
	.checkbox-body{
		width: 330px;
	}
}

.found-moto{
	.located{
		margin-bottom: 25px;
	}	
	.found-filter__nav-wrapper{
		flex-wrap: wrap;
		height: unset;
		h2{
			color: #2c2c2c;
	    font-family: "Open Sans";
	    font-size: 36px;
	    font-weight: 400;
	    height: 27px;
	    margin: 0;
	    margin-bottom: 40px;
	    letter-spacing: .36px;
	    width: 100%;
		}
	}
	.open-close-other-filters{
		position: relative;
		margin-bottom: 64px;
		height: 44px;
		.castom-select-wrapper{
			margin: 0;
			margin-right: 24px;
		}
		.checkbox-body{
			height: 100%;
			display: flex;
			align-items: center;
		}
		.found-filter__btn{
			margin-left: 0;
		}
	}
	.open-close-other-filters .reset{
		margin-right: 32px;
	}
	.open-close-other-filters__right{
		display: flex;
		position: absolute;
		right: 0;
	}
}

.found-auto-services{
	.located{
		margin-bottom: 25px;
	}	
	.found-filter__nav-wrapper{
		flex-wrap: wrap;
		height: unset;
		position: relative;
		h2{
			color: #2c2c2c;
	    font-family: "Open Sans";
	    font-size: 36px;
	    font-weight: 400;
	    height: 27px;
	    margin: 0;
	    margin-bottom: 40px;
	    letter-spacing: .36px;
	    width: 100%;
		}
		.right{
			position: absolute;
			right: 0;
		}
	}	
	.block-1{
		margin-bottom: 64px;
	}
}

.found-spec-techic{
	.located{
		margin-bottom: 25px;
	}	
	.found-filter__nav-wrapper{
		flex-wrap: wrap;
		height: unset;
		h2{
			color: #2c2c2c;
	    font-family: "Open Sans";
	    font-size: 36px;
	    font-weight: 400;
	    height: 27px;
	    margin: 0;
	    margin-bottom: 40px;
	    letter-spacing: .36px;
	    width: 100%;
		}
	}
	.open-close-other-filters{
		position: relative;
		margin-bottom: 64px;
		height: 44px;
		.castom-select-wrapper{
			margin: 0;
			margin-right: 24px;
		}
		.checkbox-body{
			height: 100%;
			display: flex;
			align-items: center;
		}
		.found-filter__btn{
			margin-left: 0;
		}
	}
	.open-close-other-filters .reset{
		margin-right: 32px;
	}
	.open-close-other-filters__right{
		display: flex;
		position: absolute;
		right: 0;
	}	
}

.found-all-category{
	.located{
		margin-bottom: 25px;
	}	
	.found-filter__nav-wrapper{
		flex-wrap: wrap;
		height: unset;
		position: relative;
		h2{
			color: #2c2c2c;
	    font-family: "Open Sans";
	    font-size: 36px;
	    font-weight: 400;
	    height: 27px;
	    margin: 0;
	    letter-spacing: .36px;
	    width: 100%;
	    margin-bottom: 84px;
		}
		.right{
			width: 853px;
			position: absolute;
			right: 0;
			top: 40px;
			i{
				right: 0;
				position: absolute;
			}
			span:first-child{
				margin-right: 62px;
			}
			span{
				font-size: 14px;
			}
		}
	}
	.found-filter__body .form-selected{
		justify-content: space-between;
		margin-bottom: 64px;
	}
}

.filter-search{
	width: 588px;
	height: 44px;
	// border-radius: 22px;
	// border: 1px solid #343434;
	// opacity: 0.3;
	margin-bottom: 24px;
	position: relative;
	i{
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
	}
	input{
		width: 100%;
		height: 100%;
		border-radius: 22px;
		border: 1px solid rgba(52, 52, 52, .3);	
		box-sizing: border-box;
		padding-left: 50px;
		// opacity: 0.6;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
	}
	&::after{
		content: '';
		position: absolute;
		left: 37px;
		top: 0;
		height: 100%;
		width: 1px;
		background-color: rgba(52,52,52,.3);
	}
}