body, html{
	margin: 0;
	padding: 0;
}

body{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

a, button{
	font-family: 'Open Sans', sans-serif;
	cursor: pointer;
}

i{
	font-style: normal;
}

.d-none{
	display: none !important;
}

.ONULL{
	opacity: 0;
}

.OONE{
	opacity: 1 !important;
}

.color-blue{
	color: #006c79;
}

.color-green{
	color: #52ac62;
}

.color-red{
	color: #ff4545;
}

.baner{
	width: 100%;
	height: 200px;
	background-color: #2c2c2c;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	span{
		color: #ff4545;
		font-family: "Open Sans";
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 0.24px;
	}
}

.hr{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #2c2c2c;
	opacity: 0.2;
	margin-top: 64px;
}

.wrapper{
	// background-color: grey;
	width: 1280px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-left: 40px;
	padding-right: 40px;
}

.def-text{
	span{
		font-family: "Open Sans";
		// font-size: 36px;
	}
	margin: 0;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 14px;
}

.title-wrapper{
	width: 100%;
	margin-top: 15px;
	margin-bottom: 35px;
	display: flex;
	align-items: center;
	a{
		text-decoration: none;
		color: #306c78;		
		transition: all 200ms ease;
	}
	.h2-title{
		margin: 0;
		color: #306c78;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: 0.36px;
	}
	.count{
		color: #306c78;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		border-radius: 10px;
		background-color: #cbd7da;
		box-sizing: border-box;
		padding: 5px;
		height: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 6px;
    margin-left: 12px;		
	}
}

.title-wrapper:hover{
	a{
		color: #ff4545;
		transition: all 200ms ease;
	}
}

.h4-title{
	opacity: 0.6;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
}

.h3-title{
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.24px;
}

.new-auto{
	width: 68px;
	height: 24px;
	border-radius: 6px 0;
	background-color: #ff4545;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 2;
}
.new-auto--fixed{
	width: 68px;
	height: 24px;
	border-radius: 6px 0;
	background-color: #ff4545;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 0.14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	position: absolute !important;
	top: 0;
	left: 0;
	z-index: 2;
}

.btn{
	width: 298px;
	height: 44px;
	border-radius: 22px;
	background-color: #306c78;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.16px;
	text-decoration: none;
	border: none;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.soc-wrapper{
	width: 212px;
	height: 67px;
	position: relative;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
	}
	.vk{
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 44px;
		height: 44px;
		background-image: url('../img/icon/reg-vk.png');
		background-position: center center;
		background-size: cover;
		transition: opacity 300ms ease;
		position: relative;
		opacity: 1;
		&::after{
			position: absolute;
			content: '';
			left: 50%;
			bottom: 3px;
			transform: translateX(-50%);
			width: 35px;
			border-radius: 50%;
			height: 4px;
			background-color: #306c78; // синиватый
			opacity: 0.6;
			z-index: 2;
			filter: blur(6px); 
			transition: opacity 300ms ease;
		}	
	}
	.vk:hover{
		transition: opacity 300ms ease;		
		opacity: 0.8;
		&::after{
			opacity: 0;
			transition: opacity 300ms ease;
		}	
	}

	.ok{
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 44px;
		height: 44px;
		background-image: url('../img/icon/reg-ok.png');
		background-position: center center;
		background-size: cover;
		transition: opacity 300ms ease;
		position: relative;
		opacity: 1;
		&::after{
			position: absolute;
			content: '';
			left: 50%;
			bottom: 3px;
			transform: translateX(-50%);
			width: 35px;
			border-radius: 50%;
			height: 4px;
			background-color: #feecc7; // синиватый
			opacity: 0.6;
			z-index: 2;
			filter: blur(6px); 
			transition: opacity 300ms ease;
		}	
	}
	.ok:hover{
		transition: opacity 300ms ease;		
		opacity: 0.8;
		&::after{
			opacity: 0;
			transition: opacity 300ms ease;
		}	
	}

	.fb{
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 44px;
		height: 44px;
		background-image: url('../img/icon/reg-fb.png');
		background-position: center center;
		background-size: cover;
		transition: opacity 300ms ease;
		position: relative;
		opacity: 1;
		&::after{
			position: absolute;
			content: '';
			left: 50%;
			bottom: 3px;
			transform: translateX(-50%);
			width: 35px;
			border-radius: 50%;
			height: 4px;
			background-color: #395599; // синиватый
			opacity: 0.6;
			z-index: 2;
			filter: blur(6px); 
			transition: opacity 300ms ease;
		}	
	}
	.fb:hover{
		transition: opacity 300ms ease;		
		opacity: 0.8;
		&::after{
			opacity: 0;
			transition: opacity 300ms ease;
		}	
	}

	.gp{
		border-radius: 50%;
		cursor: pointer;
		display: block;
		width: 44px;
		height: 44px;
		background-image: url('../img/icon/reg-gp.png');
		background-position: center center;
		background-size: cover;
		transition: opacity 300ms ease;
		position: relative;
		opacity: 1;
		&::after{
			position: absolute;
			content: '';
			left: 50%;
			bottom: 0px;
			transform: translateX(-50%);
			width: 35px;
			border-radius: 50%;
			height: 4px;
			background-color: #bd330c;	
			opacity: 0.6;
			z-index: 2;
			filter: blur(6px); 
			transition: opacity 300ms ease;
		}	
	}
	.gp:hover{
		transition: opacity 300ms ease;		
		opacity: 0.8;
		&::after{
			opacity: 0;
			transition: opacity 300ms ease;
		}	
	}

	span{
		display: block;
		width: 100%;
		text-align: center;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.16px;
		line-height: 16px;
		position: absolute;
		bottom: 0;
	}
}

// тест
input[type="text"]{
	width: 280px;
	height: 44px;
	border-radius: 22px;
	// border: 1px solid #ff4545;
	border: 1px solid #343434;
	opacity: 0.6;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.14px;
	box-sizing: border-box;
	padding-left: 13px;
	margin-bottom: 22px;
	transition: all 250ms ease;
}
input[type="password"]{
	width: 280px;
	height: 44px;
	border-radius: 22px;
	border: 1px solid #343434;
	opacity: 0.6;
	color: #2c2c2c;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.14px;
	box-sizing: border-box;
	padding-left: 13px;
	margin-bottom: 22px;
	transition: all 250ms ease;
}
input[type="text"]:focus{
	border: 1px solid #ff4545;
	outline: none;
	transition: all 250ms ease;
}
input[type="password"]:focus{
	border: 1px solid #ff4545;
	outline: none;
	transition: all 250ms ease;
}

// main-btn цвет синиватый
.btn{
	transition: opacity 300ms ease;		
	&::after{
		position: absolute;
		content: '';
		left: 50%;
		bottom: 0px;
		transform: translateX(-50%);
		width: 206px;
		height: 14px;
		background-color: #306c78; // синиватый
		opacity: 0.6;
		z-index: 2;
		filter: blur(6px); 
		transition: opacity 300ms ease;
	}
}

.btn:hover{
  &::after{
    transition: opacity 300ms ease;
    opacity: 0;
  }
}


html{
	::-webkit-scrollbar{ /* 1 - скроллбар */ 
		
	}

::-webkit-scrollbar-button       { /* 2 - кнопка */ }
::-webkit-scrollbar-track        { display: none;/* 3 - трек */ }
::-webkit-scrollbar-track-piece  { 
display: none;/* 4 - видимая часть трека */ }

	::-webkit-scrollbar-thumb{ /* 5 - ползунок */
		background: red;
	}

::-webkit-scrollbar-corner       { /* 6 - уголок */ }
::-webkit-resizer                { /* 7 - изменение размеров */ }
}