.publication-str{
	h1{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 36px;
		font-weight: 400;
		letter-spacing: 0.36px;
		margin-bottom: 40px;
		margin-top: 55px;
	}

	.mr0{
		margin-right: 0 !important;
	}

	.small-text{
		display: flex;
		align-items: center;
		margin-top: 10px;
		margin-bottom: 45px;
		i{ margin-right: 6px; }
		span{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			line-height: 14px;
		}
		a{
			color: #306c78;
			text-decoration: none;
		}
	}

	.btn-next-wrapper{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 64px;
		.previews{
			border: none;
			background-color: unset;
			width: 120px;
			height: 44px;
			color: #306c78;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.16px;
			margin-right: 24px;
		}
		.previews:hover{
			color: #ff4545;
		}
		.btn{
			position: relative;
			width: 134px;
			height: 44px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.16px;
			&::after{
				width: 70px;
			}
		}
	}

	.items{
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 24px;
		p{
			width: 102px;
			margin: 0;
			font-weight: 600;			
			// margin-right: 27px;
		}
		.carent-char-wrapper{
			width: 100%;
			display: flex;
			align-items: center;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 0.12px;
			box-sizing: border-box;
			padding-left: 94px;
			margin-top: 6px;
			i{ margin-right: 6px; }
		}
		.castom-select-wrapper{
			margin: 0;
		}
		.icon{
			width: 8px;
			height: 8px;
			color: #ff4545;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			letter-spacing: 0.16px;
		}
		input{
			width: 588px;
			height: 44px;
			border-radius: 6px;
			border: 1px solid rgba(52, 52, 52, .3);
			margin-bottom: 0;
		}
		textarea{
			width: 588px;
			height: 189px;
			border-radius: 6px;
			border: 1px solid rgba(52, 52, 52, .3);
			margin-bottom: 0;
			resize: none;
			box-sizing: border-box;
			padding-top: 7px;
			padding-left: 12px;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0.16px;
		}
		textarea:focus{
			outline: none;
		}
	}	

	.image-body{
		display: flex;
		flex-wrap: wrap;
		> p{
			width: 100%;
			box-sizing: border-box;
			padding-left: 94px;
			margin-bottom: 26px;
		}
		p:nth-child(2){
			padding: 0;
			width: 71px;
			margin-right: 31px;
		}
		&__body{
			width: 534px;
			height: 292px;
			// background-color: grey;
		}
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
		}
		.big{
			position: relative;
			width: 211px;
			height: 140px;
			border-radius: 6px;
			background-color: rgba(246, 219, 217, 1);
			margin-right: 5px;
			margin-bottom: 12px;
		}
		.normal{
			position: relative;
			width: 102px;
			height: 64px;
			border-radius: 6px;
			background-color: rgba(246, 219, 217, .6);
			margin-right: 6px;
			margin-bottom: 12px;
		}
		.left{
			display: flex;
			flex-wrap: wrap;
			width: 211px;
			height: 100%;
			align-items: flex-start;
			margin-right: 5px;
		}
		.right{
			width: 318px;
			align-items: flex-start;
			display: flex;
			flex-wrap: wrap;
		}
		.icon-pink-plus{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.block{
		margin-bottom: 58px;
		h2{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: 400;
			letter-spacing: 0.24px;
			margin: 0;
		}		
	}

	.block-2{
		h2{
			margin-bottom: 42px;
		}
		.items{
			// margin-top: 15px;
			align-items: unset;
			> p{
				margin-top: 9px;
			}
		}
	}

	.block-3{
		h2{
			margin-bottom: 32px;
		}
		.items{
			width: 282px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 36px;
			p{
				width: 100%;
				margin-bottom: 16px;
				font-weight: 600;
			}
			input{
				width: 282px;
				margin-bottom: 24px;
			}
			input:last-child{
				margin-bottom: 0;
			}
		}
	}

	.info-date__other{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 48px;
		h2{
			width: 100%;
		}
		.category{
			width: 50%;
			p{
				width: 100%;
			}
		}
		.checkbox-body{
			height: 75px;
			display: flex;
			flex-wrap: wrap;
			p{
				margin-top: 0;
				height: 16px;
				width: 100%;
			}
		}
	}

}

.previews-last-block{

	position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255, .9);
	box-shadow: 0px 4px 30px 0px rgba(44, 44, 44, 0.2);
	width: 100%;
	height: 178px;
	z-index: 10;
	.btn-wrapper{
		display: flex;
		justify-content: space-between;
		width: 439px;
		align-items: center;
		margin: 0 0 0 auto;
	}
	p{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		letter-spacing: 0.18px;
		width: 100%;
		text-align: center;
		margin-top: 32px;
		margin-bottom: 34px;
	}
	a{
		color: #306c78;
		font-family: "Open Sans";
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.16px;
		text-decoration: none;
		display: flex;
		align-items: center;
		i{
			margin-right: 7px;
		}
	}
	.btn{
		width: 167px;
		height: 44px;
		border-radius: 22px;
		background-color: #ff4545;
		position: relative;
		&::after{
			background-color: #ff4545;
			width: 100px;
		}
	}
}

.others-parameters{
	.counter-completed{
		position: absolute;
		right: 0;
		width: 65px;
		height: 65px;
		border-radius: 50%;
		background-color: #fff;
		border: 1px solid rgba(44, 44, 41, .2);
		display: flex;
		justify-content: center;
		align-items: center;
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.18px;
		margin: 0;
	}

	.chexbox--active{

	}

	.main-parameters{
		position: relative;
		&__block{
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 59px;
			h2{
				width: 100%;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 24px;
				font-weight: 400;
				letter-spacing: 0.24px;
				margin-bottom: 42px;
				margin-top: 0;
			}
			.left{
				width: 400px;
				margin-right: 228px;
				.castom-select-wrapper span{
					margin-right: 0;
				}
			}
			.right{
				width: 400px;
				.castom-select-wrapper span{
					margin-right: 0;
				}
			}
		}
	}

	.other-parameters{
		position: relative;
		.title{
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: 400;
			letter-spacing: 0.24px;
			display: flex;
			align-items: center;
			height: unset;
			margin-bottom: 43px;
			h2{
				margin: 0;
				color: #2c2c2c;
				font-family: "Open Sans";
				font-size: 24px;
				font-weight: 400;
				letter-spacing: 0.24px;
				margin-right: 11px;
			}
			button{
				border: none;
				width: 144px;
				height: 24px;
				border-radius: 6px;
				background-color: #ff4545;
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.16px;
				display: flex;
				align-items: center;
				position: relative;
				i{
					margin-left: 5px;
					margin-top: 9px;
					margin-bottom: 8px;
					transition: all 150ms ease;
					transform: rotate(180deg);
				}
				.icon--active{
					transition: all 150ms ease;
					transform: rotate(0deg);
				}
			}
			button:active{
				outline: none;
			}
		}
		.title:hover{
			.start{
				color: #ff4545;
			}
			.end{
				i{
					background-image: url('../img/icon/arrow-down-red.png');
				}
			}
		}
		.acardion .title{
			margin-bottom: 0;
			height: 59px;
			border-bottom: unset;
		}
		.icon-arrow-down{
			transition: all 150ms ease;	
		}
		.icon-arrow-down--active{
			transition: all 150ms ease;
			transform: rotate(180deg) !important;
		}
		.acardion .checkbox-wrapper label::before{
			top: 0;
			transform: unset;
		}
		.acardion .body{
			width: 100%;
		}
		.acardion--comfort .category{
			margin-left: 1px;
			margin-bottom: 10px;
		}
		.acardion--comfort .category{
			width: 282px;
			margin-right: 27px;
		}
		.acardion--comfort .body--active{
			max-height: 370px;
			overflow: visible;
		}
		.acardion--security .body--active{
			max-height: 370px;
			overflow: visible;
		}
		.acardion--reviews .body--active{
			max-height: 370px;
			overflow: visible;
		}
		.acardion--salon .body--active{
			max-height: 370px;
			overflow: visible;
		}		
		.acardion--reviews .category{
			margin-left: 1px;
			margin-bottom: 10px;
		}
		.acardion--reviews .category{
			width: 282px;
			margin-right: 27px;
		}
		.acardion--exterior .checkbox-body{
			justify-content: unset;
		}
		.acardion--protection .checkbox-body{
			justify-content: unset;
		}
		.acardion--salon{
			border-bottom: 1px solid  rgba(44, 44, 44, .2);
			margin-bottom: 58px;
		}
		// .acardion .title:nth-child()
	}
}