.services-str{
	$red: #ff4545;
	a{
		text-decoration: none;
	}
	.red-icon-1,
	.red-icon-2,
	.red-icon-3{
		display: block;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.red-icon-1{
		background-image: url('../img/icon/ser-red-1.png');
		width: 33px;
		height: 44px;
		margin-left: 62px;
		margin-right: 7px;
	}
	.red-icon-2{
		background-image: url('../img/icon/ser-red-2.png');
		width: 44px;
		height: 43px;
		margin-left: 54px;
		margin-right: 8px;
	}
	.red-icon-3{
		background-image: url('../img/icon/ser-red-3.png');
		width: 51px;
		height: 45px;
		margin-left: 51px;
		margin-right: 5px;
	}

	.btn-arrow-up{
		width: 80px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: none;	
		outline: none;
		background-color: unset;
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 14px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0.14px;
		.arrow-up{
			display: block;
			background-image: url('../img/icon/white-arrow-up.png');
			width: 12px;
			height: 7px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	.wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.left-wrapper,
	.right-wrapper{

	}

	h1{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 64px;
		font-weight: 300;
		line-height: 68px;
		letter-spacing: 0.64px;
		margin-top: 52px;
		margin-bottom: 31px;
		text-align: center;
	}

	h2{
		font-family: "Open Sans";
		font-size: 64px;
		font-weight: 700;
		line-height: 68px;
		letter-spacing: 0.64px;
		margin: 0;
		padding-top: 90px;
		padding-bottom: 47px;
	}
	.text-for-h2{
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0.18px;	
	}

	p{
		color: #ffffff;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		letter-spacing: 0.18px;
	}

	.text-for-h1{
		color: #2c2c2c;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 27px;
		margin-bottom: 55px;
		text-align: center;
		a{
			color: #306c78;
			letter-spacing: 0.18px;
		}
	}

	.block-1{
		position: relative;
		.list-border{
			display: block;
			width: 336px;
			height: 1px;
			background-color: #2c2c2c;
			opacity: 0.2;
		}
		h2{
			width: 100%;
			height: 65px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 64px;
			font-weight: 300;
			line-height: 68px;
			letter-spacing: 0.64px;
			text-align: center;
			padding: 0;
		}
		.block-1-content{
			margin-top: -75px;
		}
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.red-wrapper{
			width: 100%;
			height: 303px;
			background-color: $red;
			box-sizing: border-box;
			padding-top: 59px;		
			h2{
				text-align: center;
				color: #ffffff;
				font-family: "Open Sans";
				font-size: 64px;
				font-weight: 300;
				line-height: 68px;
				letter-spacing: 0.64px;
				margin-top: 0;
				margin-bottom: 16px;
			}
			p{
				margin-top: 0;
				box-sizing: border-box;
				padding-bottom: 31px;
				text-align: center;
			}
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			li{
				width: 384px;
				height: 334px;
				box-shadow: 0 0 3px #2c2c2c;
				border-radius: 6px;
				background-color: #ffffff;
				margin-right: 24px;
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				.list-title{
					margin-top: 30px;
					height: 56px;
					text-align: center;
					b{
						text-align: center;
						display: block;
						width: 100%;
						color: #2c2c2c;
						font-family: "Open Sans";
						font-size: 24px;
						font-weight: 700;
						letter-spacing: 0.24px;
					}
					span{
						color: #2c2c2c;
						font-family: "Open Sans";
						font-size: 14px;
						font-weight: 400;
						letter-spacing: 0.14px;
					}
				}
				.text-and-icon{
					cursor: pointer;
					display: flex;
					width: 100%;
					height: 40px;
					align-items: center;
					transition: all 200ms ease;
					opacity: 0.6;
					span{
						margin-left: 7px;
						color: #2c2c2c;
						font-family: "Open Sans";
						font-size: 16px;
						font-weight: 400;
						letter-spacing: 0.16px;
					}
				}
				.text-and-icon:hover{
					transition: all 200ms ease;
					opacity: 1;
				}

			}
			li:last-child{
				margin-right: 0;
			}
			i{

			}
		}
		.last-text{
			width: 100%;
			color: #2c2c2c;
			font-family: "Open Sans";
			font-size: 24px;
			font-weight: 400;
			line-height: 54px;
			letter-spacing: 0.24px;
			margin-top: 59px;
			text-align: center;
			margin-bottom: 53px;
		}
		.arrow-down-red-while-wrapper{
			left: 50%;
			bottom: -24px;
			position: absolute;
		}
	}

	.block-2{
		background-color: $red;
		.left-wrapper{
			width: 364px;
		}
		h2{
			color: #fff;
		}
		.text-for-h2{
			margin-bottom: 253px;
		}
		.right-wrapper{
			/* Style for "С помощью" */
			width: 688px;
			height: 180px;
			color: #ffffff;
			font-family: "Open Sans";
			font-size: 18px;
			font-weight: 400;
			line-height: 27px;
			/* Text style for "С помощью" */
			letter-spacing: 0.18px;
			margin-top: 197px;
		}
	}

	.block-3{
		.text-for-h2,h2{
			color: #2c2c2c;
		}
		.right-wrapper{
			p{
				color: #2c2c2c;
			}
		}
	}

	.block-4{
		background-color: $red;
	}

	.block-5{

	}

}