body, html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

a, button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer; }

i {
  font-style: normal; }

.d-none {
  display: none !important; }

.ONULL {
  opacity: 0; }

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2c2c2c;
  opacity: 0.2;
  margin-top: 64px; }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px; }

.def-text {
  margin: 0;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 14px; }
  .def-text span {
    font-family: "Open Sans"; }

.title-wrapper {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 35px;
  display: flex;
  align-items: center; }
  .title-wrapper .h2-title {
    margin: 0;
    color: #306c78;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.36px; }
  .title-wrapper .count {
    color: #306c78;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    border-radius: 10px;
    background-color: #cbd7da;
    box-sizing: border-box;
    padding: 5px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 12px; }

.h4-title {
  opacity: 0.6;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px; }

.h3-title {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px; }

.new-auto {
  width: 68px;
  height: 24px;
  border-radius: 6px 0;
  background-color: #d24a43;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 2; }

.icon-anonim {
  background-image: url("../img/icon/user_icon.png");
  width: 44px;
  height: 44px;
  background-color: #343434;
  display: block;
  border-radius: 50%; }

.icon-profile {
  width: 16px;
  height: 15px;
  opacity: 0.6;
  background-image: url("../img/icon/user.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-star {
  width: 16px;
  height: 15px;
  opacity: 0.6;
  background-image: url("../img/icon/star.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-exit {
  width: 15px;
  height: 16px;
  opacity: 0.6;
  background-image: url("../img/icon/exit.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-exit-chrest {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/exit-chrest.png");
  background-position: center center;
  background-size: contain;
  display: block; }

.icon-exit-chrest--red {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/exit-chrest--red.png");
  background-position: center center;
  background-size: contain;
  display: block; }

.icon-yellow {
  width: 22px;
  height: 22px;
  background-color: #fff166;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-red {
  width: 22px;
  height: 22px;
  background-color: #ff4545;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-dark {
  width: 22px;
  height: 22px;
  background-color: #343434;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.soc-youtube {
  background-image: url("../img/icon/youtube.png");
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer; }

.soc-inst {
  background-image: url("../img/icon/instagram.png");
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer; }

.soc-vk {
  background-image: url("../img/icon/vk.png");
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer; }

.icon-place-mark {
  display: block;
  width: 19px;
  height: 23px;
  opacity: 0.6;
  background-image: url("../img/icon/place-mark.png");
  background-position: center center;
  background-size: cover; }

.icon-arrow-right {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url("../img/icon/arrow-right.png");
  background-position: center center;
  background-size: cover; }

.icon-arrow-left {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url("../img/icon/icon-arrow-left.png");
  background-position: center center;
  background-size: cover; }

.icon-plus {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/plus.png");
  background-position: center center;
  background-size: cover; }

.icon-diamond {
  display: block;
  width: 24px;
  height: 22px;
  opacity: 0.6;
  background-image: url("../img/icon/diamond.png");
  background-position: center center;
  background-size: cover; }

.icon-star--red {
  width: 24px;
  height: 23px;
  background-image: url("../img/icon/star-red.png");
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.icon-star--red-full {
  width: 24px;
  height: 23px;
  background-image: url("../img/icon/star-red-full.png");
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.icon-arrow-down {
  width: 12px;
  height: 7px;
  background-image: url("../img/icon/icon-arrow-down.png");
  background-position: center center;
  background-size: cover;
  display: inline-block;
  cursor: pointer; }

.icon-arrow-down--white {
  width: 12px;
  height: 7px;
  background-image: url("../img/icon/down-arrow-white.png");
  background-position: center center;
  background-size: cover;
  display: inline-block;
  cursor: pointer; }

.arrow-down-circle {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/arrow-down-circle.png");
  opacity: 0.6;
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.header {
  height: 102px;
  background-color: #2c2c2c; }
  .header .wrapper {
    background-color: unset;
    height: 100%;
    display: flex;
    align-items: center; }
  .header .btn-bar {
    padding: 0;
    outline: none;
    border: none;
    width: 29px;
    min-height: 19px;
    background-color: unset;
    background-image: url("../img/icon/burger.png");
    background-position: center center;
    background-size: cover;
    margin-right: 21px;
    cursor: pointer;
    transition: all 400ms ease; }
  .header .logo {
    width: 93px;
    min-height: 18px;
    margin-right: 143px; }
  .header .nav {
    height: 100%; }
    .header .nav .main-menu {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .nav .main-menu__item {
        position: relative;
        cursor: pointer;
        transition: all 300ms ease;
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: content-box;
        padding-left: 23px;
        padding-right: 23px; }
        .header .nav .main-menu__item > a {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.16px;
          color: #fff;
          text-decoration: none; }
      .header .nav .main-menu .main-menu__item:hover {
        transition: all 300ms ease;
        background-color: #343434; }
  .header .nav-bar-wrapper {
    position: relative;
    height: 18px; }
  .header .main-manu__list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 269px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    background-color: #ffffff;
    list-style: none;
    box-sizing: content-box;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 23px;
    padding-bottom: 20px; }
    .header .main-manu__list li a {
      color: #2c2c2c;
      text-decoration: none;
      font-size: 16px;
      line-height: 36px;
      font-weight: 400;
      transition: all 100ms ease; }
    .header .main-manu__list li a:hover {
      transition: all 100ms ease;
      color: #67939c; }
  .header .nav--bar {
    position: absolute;
    width: 282px;
    left: -45px;
    margin-right: 0;
    top: 60px;
    z-index: 10; }
    .header .nav--bar .main-menu {
      flex-wrap: wrap;
      width: 100%;
      background-color: #2c2c2c;
      height: auto;
      width: 282px; }
      .header .nav--bar .main-menu li {
        width: 100%;
        height: 102px;
        width: 100%; }
  .header .sign-navigation {
    width: 282px;
    min-height: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 25px;
    transition: all 300ms ease;
    display: flex;
    justify-content: flex-end; }
    .header .sign-navigation .icon-arrow-down--white {
      margin-left: 6px; }
    .header .sign-navigation__name {
      margin-left: 5px;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: unset;
      color: #ffffff;
      font-size: 16px;
      padding: 0;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.16px; }
  .header .sign-navigation:hover > .icon-anonim {
    transition: all 300ms ease;
    background-image: url("../img/icon/user-icon-red.png"); }
  .header .sign-navigation:hover .icon-arrow-down--white {
    transition: all 300ms ease;
    background-image: url("../img/icon/down-arrow-red.png"); }
  .header .sign-navigation:hover .sign-navigation__name {
    transition: all 300ms ease;
    color: #ff4545; }
  .header .profile-list {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 282px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    border-radius: 0 0 6px 6px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: default; }
    .header .profile-list-title-wrapper {
      width: 282px;
      min-height: 44px;
      height: 102px;
      display: flex;
      align-items: center;
      transition: all .3s ease;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      padding-left: 25px;
      transition: all .3s ease;
      background-color: #343434; }
      .header .profile-list-title-wrapper span {
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: .16px;
        color: #fff;
        text-decoration: none; }
    .header .profile-list__title-wrapper {
      width: 146px;
      margin-top: 26px;
      margin-bottom: 22px;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .header .profile-list__title-wrapper h4 {
        margin: 0;
        opacity: 0.6;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.16px; }
      .header .profile-list__title-wrapper i {
        position: absolute;
        left: -35px; }
    .header .profile-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 146px; }
      .header .profile-list ul li {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header .profile-list ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 14px;
          letter-spacing: 0.16px;
          transition: all 100ms ease; }
        .header .profile-list ul li a:hover {
          color: #306c78;
          transition: all 100ms ease; }
    .header .profile-list__exit {
      cursor: pointer;
      border: none;
      outline: none;
      width: 100%;
      height: 69px;
      border-radius: 0 0 6px 6px;
      background-color: #343434;
      color: #ff4545;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.16px;
      position: relative; }
      .header .profile-list__exit span {
        position: absolute;
        left: 69px;
        top: 50%;
        transform: translateY(-50%); }
      .header .profile-list__exit i {
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%); }

.map-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 45px;
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative; }
  .map-block__other-city {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 102px;
    z-index: 9;
    transform: translateX(-50%);
    height: 304px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    background-color: #ffffff; }
    .map-block__other-city .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
    .map-block__other-city .map-block__top {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 39px;
      margin-bottom: 31px; }
    .map-block__other-city ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 282px;
      height: 135px; }
      .map-block__other-city ul li {
        width: 100%;
        display: flex;
        height: 14px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px; }
        .map-block__other-city ul li a {
          text-decoration: none;
          color: #2c2c2c;
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.16px;
          transition: all 150ms ease; }
        .map-block__other-city ul li a:hover {
          transition: all 150ms ease;
          color: #306c78; }
    .map-block__other-city i {
      transition: all 150ms ease; }
    .map-block__other-city i:hover {
      transition: all 150ms ease;
      cursor: pointer; }
    .map-block__other-city .icon-exit-chrest:hover {
      transition: all 50ms ease;
      background-image: url("../img/icon/exhit-chrest-red.png"); }

.map-block__other-city--level-2 {
  height: auto; }
  .map-block__other-city--level-2 ul {
    height: 180px; }

.change-count {
  width: 162px;
  min-height: 23px;
  border: none;
  outline: none;
  position: relative;
  background-color: unset;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .change-count span {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    height: 100%;
    transition: all 150ms ease; }
  .change-count span:hover {
    color: #ff4545;
    transition: all 150ms ease; }

.add-offer {
  border: none;
  outline: none;
  position: relative;
  background-color: unset;
  width: 254px;
  height: 44px;
  border-radius: 22px;
  background-color: #ff4545;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 46px;
  cursor: pointer; }
  .add-offer i {
    position: absolute;
    left: 24px; }
  .add-offer span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px; }

.offers__title {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center; }
  .offers__title i {
    margin-right: 12px; }

.offers__navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  min-height: 26px; }
  .offers__navigation li:hover span {
    transition: all 300ms ease;
    opacity: 1 !important; }
  .offers__navigation li a {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px;
    text-decoration: none;
    position: relative; }
    .offers__navigation li a span {
      transition: all 300ms ease;
      display: block;
      opacity: 0;
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ff4545; }

.offers-content {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .offers-content__item {
    box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
    transition: all 250ms ease;
    border-radius: 10px;
    background-color: #ffffff;
    width: 282px;
    height: 340px;
    cursor: pointer;
    position: relative; }
    .offers-content__item .swiper-container {
      width: 282px;
      height: 204px;
      padding: 0; }
    .offers-content__item .swiper-wrapper {
      padding: 0; }
    .offers-content__item .swiper-slide {
      padding: 0; }
    .offers-content__item .swiper-pagination {
      width: 6px;
      height: 6px;
      bottom: 37px !important; }
    .offers-content__item .swiper-pagination-bullet {
      opacity: 1;
      background-color: #fff; }
    .offers-content__item .swiper-pagination-bullet-active {
      background-color: #ff4545; }
    .offers-content__item img {
      width: 282px;
      height: 204px; }
  .offers-content__item:hover {
    box-shadow: 0 0 10px rgba(44, 44, 44, 0.3);
    transition: all 250ms ease; }
  .offers-content div {
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 14px;
    position: relative; }
    .offers-content div i {
      position: absolute;
      right: 12px;
      bottom: 4px; }
  .offers-content__item-name {
    display: block;
    width: 100%;
    height: 17px;
    color: #306c78;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px; }
  .offers-content__item-age {
    display: block;
    width: 100%;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px; }
  .offers-content__item-price {
    display: block;
    width: 100%;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400; }

.popular-mark .h4-title {
  margin-top: 45px;
  margin-bottom: 19px; }

.popular-mark__image-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 146px;
  margin-bottom: 46px; }

.popular-mark__image-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease; }

.popular-mark__image-item:hover {
  box-shadow: 0 2px 16px rgba(44, 44, 44, 0.2);
  border: 1px solid #306c78;
  transition: all 150ms ease; }
  .popular-mark__image-item:hover img {
    opacity: 0.7; }

.popular-mark__list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.popular-mark__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.popular-mark__item {
  margin-bottom: 6px; }
  .popular-mark__item a {
    text-decoration: none;
    color: #306c78;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px; }
  .popular-mark__item a:hover {
    color: #ff4545; }
  .popular-mark__item .last {
    color: #2c2c2c;
    font-weight: 700; }

.popular-mark .count {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px; }

.last-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .last-list .h3-title {
    margin-top: 30px;
    margin-bottom: 20px; }
  .last-list__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .last-list__item {
    margin-bottom: 9px; }
    .last-list__item a {
      color: #306c78;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0.16px;
      text-decoration: none; }
    .last-list__item a:hover {
      color: #ff4545; }
    .last-list__item .last {
      color: #2c2c2c; }

.pre-footer-icons {
  margin-top: 36px; }
  .pre-footer-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .pre-footer-icons ul li {
      margin-bottom: 60px; }
    .pre-footer-icons ul li:nth-child(1) {
      width: 222px; }
    .pre-footer-icons ul li:nth-child(2) {
      width: 383px; }
    .pre-footer-icons ul li:nth-child(3) {
      width: 222px; }
  .pre-footer-icons i {
    background-position: center center;
    background-size: cover;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px; }
  .pre-footer-icons .icon-1 {
    width: 39px;
    height: 61px;
    background-image: url("../img/icon/pre-footer-icon-1.png"); }
  .pre-footer-icons .icon-2 {
    width: 58px;
    height: 58px;
    background-image: url("../img/icon/pre-footer-icon-2.png"); }
  .pre-footer-icons .icon-3 {
    width: 58px;
    height: 54px;
    background-image: url("../img/icon/pre-footer-icon-3.png"); }

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 11; }

.popup-def {
  position: fixed;
  z-index: 12;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 328px;
  height: 319px;
  box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px; }
  .popup-def h5 {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 13px; }
  .popup-def p {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-top: 0;
    margin-bottom: 32px; }
  .popup-def button {
    border: none;
    outline: none;
    width: 280px;
    height: 44px;
    border-radius: 22px;
    background-color: #ff4545;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    margin-bottom: 12px; }
  .popup-def a {
    display: block;
    border-radius: 22px;
    background-color: #2c2c2c;
    width: 280px;
    height: 44px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px; }
  .popup-def i.icon-form-exit {
    position: absolute;
    right: -28px;
    top: -28px;
    cursor: pointer; }
  .popup-def i.arrow-down-circle {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%); }

.popup-buf a {
  background-color: #306c78; }

.popup-buf button {
  background-color: #2c2c2c; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.footer {
  height: 157px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center; }
  .footer ul {
    padding: 0;
    margin: 0;
    height: 36px;
    width: 140px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 36px; }
  .footer li {
    opacity: 0.6;
    transition: all 150ms ease; }
  .footer li:hover {
    opacity: 1;
    transition: all 150ms ease; }
  .footer p {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24.03px;
    letter-spacing: 0.16px; }
    .footer p span {
      color: #ff4545;
      letter-spacing: 0.16px; }
