body, html {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif; }

a, button {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer; }

i {
  font-style: normal; }

.d-none {
  display: none !important; }

.ONULL {
  opacity: 0; }

.hr {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #2c2c2c;
  opacity: 0.2;
  margin-top: 64px; }

.wrapper {
  width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 40px;
  padding-right: 40px; }

.def-text {
  margin: 0;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 600;
  line-height: 14px; }
  .def-text span {
    font-family: "Open Sans"; }

.title-wrapper {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 35px;
  display: flex;
  align-items: center; }
  .title-wrapper .h2-title {
    margin: 0;
    color: #306c78;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.36px; }
  .title-wrapper .count {
    color: #306c78;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    border-radius: 10px;
    background-color: #cbd7da;
    box-sizing: border-box;
    padding: 5px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    margin-left: 12px; }

.h4-title {
  opacity: 0.6;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px; }

.h3-title {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px; }

.new-auto {
  width: 68px;
  height: 24px;
  border-radius: 6px 0;
  background-color: #d24a43;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 2; }

.btn {
  width: 298px;
  height: 44px;
  border-radius: 22px;
  background-color: #306c78;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  text-decoration: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center; }

.soc-wrapper {
  width: 212px;
  height: 77px;
  position: relative; }
  .soc-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap; }
  .soc-wrapper .vk {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon/reg-vk.png");
    background-position: center center;
    background-size: cover; }
  .soc-wrapper .ok {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon/reg-ok.png");
    background-position: center center;
    background-size: cover; }
  .soc-wrapper .fb {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon/reg-fb.png");
    background-position: center center;
    background-size: cover; }
  .soc-wrapper .gp {
    border-radius: 50%;
    cursor: pointer;
    display: block;
    width: 44px;
    height: 44px;
    background-image: url("../img/icon/reg-gp.png");
    background-position: center center;
    background-size: cover; }
  .soc-wrapper span {
    display: block;
    width: 100%;
    text-align: center;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    line-height: 16px;
    position: absolute;
    bottom: 0; }

input[type="text"] {
  width: 280px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #343434;
  opacity: 0.6;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  box-sizing: border-box;
  padding-left: 13px;
  margin-bottom: 22px;
  transition: all 250ms ease; }

input[type="password"] {
  width: 280px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #343434;
  opacity: 0.6;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  box-sizing: border-box;
  padding-left: 13px;
  margin-bottom: 22px;
  transition: all 250ms ease; }

input[type="text"]:focus {
  border: 1px solid #ff4545;
  outline: none;
  transition: all 250ms ease; }

input[type="password"]:focus {
  border: 1px solid #ff4545;
  outline: none;
  transition: all 250ms ease; }

.icon-anonim {
  background-image: url("../img/icon/user_icon.png");
  width: 44px;
  height: 44px;
  background-color: #343434;
  display: block;
  border-radius: 50%; }

.icon-profile {
  width: 16px;
  height: 15px;
  opacity: 0.6;
  background-image: url("../img/icon/user.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-star {
  width: 16px;
  height: 15px;
  opacity: 0.6;
  background-image: url("../img/icon/star.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-exit {
  width: 15px;
  height: 16px;
  opacity: 0.6;
  background-image: url("../img/icon/exit.png");
  background-position: center center;
  background-size: cover;
  display: block; }

.icon-exit-chrest {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/exit-chrest.png");
  background-position: center center;
  background-size: contain;
  display: block; }

.icon-exit-chrest--red {
  width: 25px;
  height: 25px;
  background-image: url("../img/icon/exit-chrest--red.png");
  background-position: center center;
  background-size: contain;
  display: block; }

.icon-yellow {
  width: 22px;
  height: 22px;
  background-color: #fff166;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #2c2c2c;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-red {
  width: 22px;
  height: 22px;
  background-color: #ff4545;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.icon-dark {
  width: 22px;
  height: 22px;
  background-color: #343434;
  border-radius: 50%;
  display: block;
  text-shadow: 0 7px 24px rgba(255, 69, 69, 0.4);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0.12px;
  display: flex;
  justify-content: center;
  align-items: center; }

.soc-vk,
.soc-youtube,
.soc-inst {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center; }

.soc-youtube a {
  background-image: url("../img/icon/youtube.svg");
  width: 19px;
  height: 15px; }

.soc-inst a {
  background-image: url("../img/icon/inst.svg");
  width: 16px;
  height: 16px; }

.soc-vk a {
  background-image: url("../img/icon/vk.svg");
  width: 19px;
  height: 13px; }

.soc-youtube a,
.soc-inst a,
.soc-vk a {
  display: block;
  opacity: 0.2 !important;
  transition: all 250ms ease;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.soc-youtube:hover a,
.soc-inst:hover a,
.soc-vk:hover a {
  opacity: 0.6 !important;
  transition: all 250ms ease; }

.icon-place-mark {
  display: block;
  width: 19px;
  height: 23px;
  opacity: 0.6;
  background-image: url("../img/icon/place-mark.png");
  background-position: center center;
  background-size: cover; }

.icon-arrow-right {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url("../img/icon/arrow-right.png");
  background-position: center center;
  background-size: cover; }

.icon-arrow-left {
  display: block;
  width: 7px;
  height: 12px;
  background-image: url("../img/icon/icon-arrow-left.png");
  background-position: center center;
  background-size: cover; }

.icon-plus {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/icon/plus.png");
  background-position: center center;
  background-size: cover; }

.icon-diamond {
  display: block;
  width: 24px;
  height: 22px;
  opacity: 0.6;
  background-image: url("../img/icon/diamond.png");
  background-position: center center;
  background-size: cover; }

.icon-star--red {
  width: 24px;
  height: 23px;
  background-image: url("../img/icon/star-red.png");
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.icon-star--red-full {
  width: 24px;
  height: 23px;
  background-image: url("../img/icon/star-red-full.png");
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.icon-arrow-down {
  width: 12px;
  height: 7px;
  background-image: url("../img/icon/icon-arrow-down.png");
  background-position: center center;
  background-size: cover;
  display: inline-block;
  cursor: pointer; }

.icon-arrow-down--white {
  width: 12px;
  height: 7px;
  background-image: url("../img/icon/down-arrow-white.png");
  background-position: center center;
  background-size: cover;
  display: inline-block;
  cursor: pointer; }

.arrow-down-circle {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon/arrow-down-circle.png");
  opacity: 0.6;
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.password-icon {
  background-image: url("../img/icon/form_pass_icon.png");
  width: 16px;
  height: 12px;
  background-color: #2c2c2c;
  opacity: 0.6;
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.form-succes-blue {
  width: 24px;
  height: 25px;
  background-image: url("../img/icon/correct-blue.png");
  background-position: center center;
  background-size: cover;
  display: block;
  cursor: pointer; }

.header {
  height: 102px;
  background-color: #2c2c2c; }
  .header .wrapper {
    background-color: unset;
    height: 100%;
    display: flex;
    align-items: center; }
  .header .btn-bar {
    padding: 0;
    outline: none;
    border: none;
    width: 29px;
    min-height: 19px;
    background-color: unset;
    background-image: url("../img/icon/burger.png");
    background-position: center center;
    background-size: cover;
    margin-right: 21px;
    cursor: pointer;
    transition: all 400ms ease; }
  .header .logo {
    width: 102px;
    min-height: 19px;
    height: 19px;
    margin-right: 143px; }
  .header .nav {
    height: 100%; }
    .header .nav .main-menu {
      height: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header .nav .main-menu__item {
        position: relative;
        cursor: pointer;
        transition: all 300ms ease;
        display: flex;
        align-items: center;
        height: 100%;
        box-sizing: content-box;
        padding-left: 23px;
        padding-right: 23px; }
        .header .nav .main-menu__item > a {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.16px;
          color: #fff;
          text-decoration: none; }
      .header .nav .main-menu .main-menu__item:hover {
        transition: all 300ms ease;
        background-color: #343434; }
  .header .nav-bar-wrapper {
    position: relative;
    height: 18px; }
  .header .main-manu__list {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 269px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    background-color: #ffffff;
    list-style: none;
    box-sizing: content-box;
    padding-top: 25px;
    padding-left: 24px;
    padding-right: 23px;
    padding-bottom: 20px; }
    .header .main-manu__list li a {
      color: #2c2c2c;
      text-decoration: none;
      font-size: 16px;
      line-height: 36px;
      font-weight: 400;
      transition: all 100ms ease; }
    .header .main-manu__list li a:hover {
      transition: all 100ms ease;
      color: #67939c; }
  .header .nav--bar {
    position: absolute;
    width: 282px;
    left: -45px;
    margin-right: 0;
    top: 60px;
    z-index: 10; }
    .header .nav--bar .main-menu {
      flex-wrap: wrap;
      width: 100%;
      background-color: #2c2c2c;
      height: auto;
      width: 282px; }
      .header .nav--bar .main-menu li {
        width: 100%;
        height: 102px;
        width: 100%; }
  .header .sign-navigation {
    width: 282px;
    min-height: 44px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
    cursor: pointer;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 25px;
    transition: all 300ms ease;
    display: flex;
    justify-content: flex-end; }
    .header .sign-navigation .icon-arrow-down--white {
      margin-left: 6px; }
    .header .sign-navigation__name {
      margin-left: 5px;
      cursor: pointer;
      border: none;
      outline: none;
      background-color: unset;
      color: #ffffff;
      font-size: 16px;
      padding: 0;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.16px; }
  .header .sign-navigation:hover > .icon-anonim {
    transition: all 300ms ease;
    background-image: url("../img/icon/user-icon-red.png"); }
  .header .sign-navigation:hover .icon-arrow-down--white {
    transition: all 300ms ease;
    background-image: url("../img/icon/down-arrow-red.png"); }
  .header .sign-navigation:hover .sign-navigation__name {
    transition: all 300ms ease;
    color: #ff4545; }
  .header .profile-list {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 282px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    border-radius: 0 0 6px 6px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: default; }
    .header .profile-list-title-wrapper {
      width: 282px;
      min-height: 44px;
      height: 102px;
      display: flex;
      align-items: center;
      transition: all .3s ease;
      cursor: pointer;
      position: relative;
      cursor: pointer;
      box-sizing: border-box;
      padding-left: 25px;
      transition: all .3s ease;
      background-color: #343434; }
      .header .profile-list-title-wrapper span {
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: .16px;
        color: #fff;
        text-decoration: none; }
    .header .profile-list__title-wrapper {
      width: 146px;
      margin-top: 26px;
      margin-bottom: 22px;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .header .profile-list__title-wrapper h4 {
        margin: 0;
        opacity: 0.6;
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.16px; }
      .header .profile-list__title-wrapper i {
        position: absolute;
        left: -35px; }
    .header .profile-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 146px; }
      .header .profile-list ul li {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .header .profile-list ul li a {
          text-decoration: none;
          color: #ffffff;
          font-size: 16px;
          font-weight: 300;
          line-height: 14px;
          letter-spacing: 0.16px;
          transition: all 100ms ease; }
        .header .profile-list ul li a:hover {
          color: #306c78;
          transition: all 100ms ease; }
    .header .profile-list__exit {
      cursor: pointer;
      border: none;
      outline: none;
      width: 100%;
      height: 69px;
      border-radius: 0 0 6px 6px;
      background-color: #343434;
      color: #ff4545;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0.16px;
      position: relative; }
      .header .profile-list__exit span {
        position: absolute;
        left: 69px;
        top: 50%;
        transform: translateY(-50%); }
      .header .profile-list__exit i {
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%); }

.map-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 45px;
  margin-top: 36px;
  margin-bottom: 36px;
  position: relative; }
  .map-block__other-city {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 102px;
    z-index: 9;
    transform: translateX(-50%);
    height: 304px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    background-color: #ffffff; }
    .map-block__other-city .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
    .map-block__other-city .map-block__top {
      width: 100%;
      height: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 39px;
      margin-bottom: 31px; }
    .map-block__other-city ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 282px;
      height: 135px; }
      .map-block__other-city ul li {
        width: 100%;
        display: flex;
        height: 14px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 19px; }
        .map-block__other-city ul li a {
          text-decoration: none;
          color: #2c2c2c;
          font-size: 16px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: 0.16px;
          transition: all 150ms ease; }
        .map-block__other-city ul li a:hover {
          transition: all 150ms ease;
          color: #306c78; }
    .map-block__other-city i {
      transition: all 150ms ease; }
    .map-block__other-city i:hover {
      transition: all 150ms ease;
      cursor: pointer; }
    .map-block__other-city .icon-exit-chrest:hover {
      transition: all 50ms ease;
      background-image: url("../img/icon/exhit-chrest-red.png"); }

.map-block__other-city--level-2 {
  height: auto; }
  .map-block__other-city--level-2 ul {
    height: 180px; }

.change-count {
  width: 162px;
  min-height: 23px;
  border: none;
  outline: none;
  position: relative;
  background-color: unset;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .change-count span {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
    height: 100%;
    transition: all 150ms ease; }
  .change-count span:hover {
    color: #ff4545;
    transition: all 150ms ease; }

.add-offer {
  border: none;
  outline: none;
  position: relative;
  background-color: unset;
  width: 254px;
  height: 44px;
  border-radius: 22px;
  background-color: #ff4545;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 46px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease; }
  .add-offer i {
    position: absolute;
    left: 24px; }
  .add-offer span {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px; }

.add-offer {
  z-index: 1;
  transition: opacity 300ms ease; }
  .add-offer::after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
    width: 206px;
    height: 14px;
    background-color: #ff4545;
    opacity: 0.6;
    z-index: 2;
    filter: blur(6px);
    transition: opacity 300ms ease; }

.add-offer:hover {
  transition: opacity 300ms ease;
  opacity: 0.8; }
  .add-offer:hover::after {
    transition: opacity 300ms ease;
    opacity: 0; }

.offers__title {
  margin-bottom: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center; }
  .offers__title i {
    margin-right: 12px; }

.offers__navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 155px;
  min-height: 26px; }
  .offers__navigation li:hover span {
    transition: all 300ms ease;
    opacity: 1 !important; }
  .offers__navigation li a {
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px;
    text-decoration: none;
    position: relative; }
    .offers__navigation li a span {
      transition: all 300ms ease;
      display: block;
      opacity: 0;
      position: absolute;
      bottom: -9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ff4545;
      border-radius: 12px; }

.offers-content {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .offers-content__item {
    box-shadow: 0 0 5px rgba(44, 44, 44, 0.3);
    transition: all 250ms ease;
    border-radius: 10px;
    background-color: #ffffff;
    width: 282px;
    height: 340px;
    cursor: pointer;
    position: relative; }
    .offers-content__item .swiper-container {
      width: 282px;
      height: 204px;
      padding: 0; }
    .offers-content__item .swiper-wrapper {
      padding: 0; }
    .offers-content__item .swiper-slide {
      padding: 0; }
    .offers-content__item .swiper-pagination {
      width: 6px;
      height: 6px;
      bottom: 37px !important; }
    .offers-content__item .swiper-pagination-bullet {
      opacity: 1;
      background-color: #fff; }
    .offers-content__item .swiper-pagination-bullet-active {
      background-color: #ff4545; }
    .offers-content__item img {
      width: 282px;
      height: 204px; }
  .offers-content__item:hover {
    box-shadow: 0px 4px 30px 0px rgba(44, 44, 44, 0.2);
    transition: all 250ms ease; }
  .offers-content div {
    box-sizing: border-box;
    padding-left: 12px;
    padding-top: 14px;
    position: relative; }
    .offers-content div i {
      position: absolute;
      right: 12px;
      bottom: 4px; }
  .offers-content__item-name {
    display: block;
    width: 100%;
    height: 17px;
    color: #306c78;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px; }
  .offers-content__item-age {
    display: block;
    width: 100%;
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px; }
  .offers-content__item-price {
    display: block;
    width: 100%;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400; }

.popular-mark .h4-title {
  margin-top: 45px;
  margin-bottom: 19px; }

.popular-mark__image-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 146px;
  margin-bottom: 46px; }

.popular-mark__image-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms ease; }

.popular-mark__image-item:hover {
  box-shadow: 0 2px 16px rgba(44, 44, 44, 0.2);
  border: 1px solid #306c78;
  transition: all 150ms ease; }
  .popular-mark__image-item:hover img {
    opacity: 0.7; }

.popular-mark__list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.popular-mark__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.popular-mark__item {
  margin-bottom: 6px; }
  .popular-mark__item a {
    text-decoration: none;
    color: #306c78;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.16px; }
  .popular-mark__item a:hover {
    color: #ff4545; }
  .popular-mark__item .last {
    color: #2c2c2c;
    font-weight: 700; }

.popular-mark .count {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.14px; }

.last-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .last-list .h3-title {
    margin-top: 30px;
    margin-bottom: 20px; }
  .last-list__list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .last-list__item {
    margin-bottom: 9px; }
    .last-list__item a {
      color: #306c78;
      font-size: 16px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: 0.16px;
      text-decoration: none; }
    .last-list__item a:hover {
      color: #ff4545; }
    .last-list__item .last {
      color: #2c2c2c; }

.pre-footer-icons {
  margin-top: 36px; }
  .pre-footer-icons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .pre-footer-icons ul li {
      margin-bottom: 60px; }
    .pre-footer-icons ul li:nth-child(1) {
      width: 222px; }
    .pre-footer-icons ul li:nth-child(2) {
      width: 383px; }
    .pre-footer-icons ul li:nth-child(3) {
      width: 222px; }
  .pre-footer-icons i {
    background-position: center center;
    background-size: cover;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 20px; }
  .pre-footer-icons .icon-1 {
    width: 39px;
    height: 61px;
    background-image: url("../img/icon/pre-footer-icon-1.png"); }
  .pre-footer-icons .icon-2 {
    width: 58px;
    height: 58px;
    background-image: url("../img/icon/pre-footer-icon-2.png"); }
  .pre-footer-icons .icon-3 {
    width: 58px;
    height: 54px;
    background-image: url("../img/icon/pre-footer-icon-3.png"); }

.autorisation {
  box-sizing: border-box;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center; }
  .autorisation .sign-str {
    width: 328px;
    box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
    border-radius: 0 0 6px 6px;
    background-color: #ffffff; }
  .autorisation .sign-str__log-reg-wrapper {
    border-top: 2px solid #ff4545;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    margin-bottom: 36px; }
  .autorisation .sign-str__log-ing {
    outline: none;
    border: none;
    width: 50%;
    height: 100%;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.18px; }
  .autorisation .sign-str__register {
    outline: none;
    border: none;
    width: 50%;
    height: 100%;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.18px;
    background-color: #fff; }
  .autorisation .soc-wrapper {
    margin: 0 auto;
    margin-bottom: 32px; }
  .autorisation form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px; }
    .autorisation form input[type="text"] {
      width: 280px;
      height: 44px;
      border-radius: 22px;
      border: 1px solid #343434;
      opacity: 0.6;
      color: #2c2c2c;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      box-sizing: border-box;
      padding-left: 13px;
      margin-bottom: 22px;
      transition: all 250ms ease; }
    .autorisation form input[type="password"] {
      width: 280px;
      height: 44px;
      border-radius: 22px;
      border: 1px solid #343434;
      opacity: 0.6;
      color: #2c2c2c;
      font-family: "Open Sans";
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.14px;
      box-sizing: border-box;
      padding-left: 13px;
      margin-bottom: 22px;
      transition: all 250ms ease; }
    .autorisation form input[type="text"]:focus {
      border: 1px solid #ff4545;
      outline: none;
      transition: all 250ms ease; }
    .autorisation form input[type="password"]:focus {
      border: 1px solid #ff4545;
      outline: none;
      transition: all 250ms ease; }
    .autorisation form label {
      position: relative; }
      .autorisation form label::after {
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 2px;
        border: 1px solid #ff4545;
        background-color: #ffffff; }
    .autorisation form input[type="checkbox"] {
      display: none; }
    .autorisation form input[type="checkbox"]:checked + label::after {
      background-image: url("../img/icon/red-okey.png");
      background-position: center center;
      background-size: 8px 6px;
      background-repeat: no-repeat; }
    .autorisation form button {
      background-color: #ff4545; }
    .autorisation form p {
      margin: 0;
      color: #2c2c2c;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      margin-left: 20px;
      margin-bottom: 32px; }
    .autorisation form a {
      color: #306c78;
      font-family: "Open Sans";
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      text-decoration: none; }
  .autorisation .form-register button {
    margin-bottom: 48px; }
  .autorisation .form-log-in button {
    background-color: #306c78;
    margin-bottom: 21px; }
  .autorisation .form-log-in label::after {
    border: 1px solid #2c2c2c; }
  .autorisation .form-log-in p:last-child {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 12px;
    letter-spacing: 0.14px;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: 0; }
    .autorisation .form-log-in p:last-child a {
      color: #306c78;
      letter-spacing: 0.12px; }
  .autorisation .form-log-in .rest-password {
    outline: none;
    border: none;
    background-color: unset !important;
    color: #306c78;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin-bottom: 0; }
  .autorisation .sign-str-checkbox-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .autorisation .password-wrapper {
    position: relative; }
    .autorisation .password-wrapper .password-icon {
      background-color: unset;
      position: absolute;
      right: 12px;
      top: 17px; }

.map-obl-str h1 {
  text-align: center;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 0.64px;
  margin-top: 49px;
  margin-bottom: 33px; }

.map-obl-str .map-obl-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .map-obl-str .map-obl-wrapper h3 {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 13px;
    min-height: 64px;
    background-color: #ececec;
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.24px; }
    .map-obl-str .map-obl-wrapper h3 span {
      display: block;
      margin-left: 5px; }
  .map-obl-str .map-obl-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 32px;
    margin-bottom: 45px; }
    .map-obl-str .map-obl-wrapper ul li {
      margin-bottom: 14px; }
      .map-obl-str .map-obl-wrapper ul li a {
        text-decoration: none;
        color: #466e76;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.16px;
        transition: all 200ms ease; }
      .map-obl-str .map-obl-wrapper ul li a:hover {
        color: #ff4545;
        transition: all 200ms ease; }
        .map-obl-str .map-obl-wrapper ul li a:hover span {
          color: #466e76; }

.about-us-str h1 {
  width: 100%;
  text-align: center;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 64px;
  line-height: 64px;
  font-weight: 300;
  letter-spacing: 0.64px;
  margin-top: 51px;
  margin-bottom: 29px; }

.about-us-str .title-text {
  width: 100%;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.24px;
  margin: 0; }

.about-us-str h2 {
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.24px;
  margin-top: 27px;
  margin-bottom: 22px; }

.about-us-str .text {
  display: block;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  margin-bottom: 34px; }

.about-us-str .pre-footer-icons {
  background-image: url("../img/about-us-list-bg.png");
  background-repeat: no-repeat;
  background-position-x: 80px; }

.about-us-str .contacts {
  margin-bottom: 60px; }

.about-us-str .about-us__mapa {
  display: block;
  width: 997px;
  margin: 0 auto;
  height: 479px;
  background-image: url("../img/about-us-bg.png");
  background-position: center;
  margin-top: 29px;
  margin-bottom: 81px;
  position: relative; }

.about-us-str .about-us__mapa-item {
  transition: all 300ms ease;
  width: 72px;
  height: 72px;
  border: 2px solid rgba(255, 69, 69, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .about-us-str .about-us__mapa-item-wrapper-1 {
    width: 58px;
    height: 58px;
    border: 2px solid rgba(255, 69, 69, 0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }

.about-us-str .about-us__mapa-item:hover {
  transition: all 300ms ease;
  cursor: pointer;
  transform: scale(1.1); }

.about-us-str .about-us__mapa-item--1 {
  position: absolute;
  top: 176px;
  left: 96px; }

.about-us-str .about-us__mapa-item--2 {
  position: absolute;
  top: 272px;
  left: 140px; }

.about-us-str .about-us__mapa-item--3 {
  position: absolute;
  top: 362px;
  left: 100px; }

.about-us-str .about-us__mapa-item--4 {
  position: absolute;
  top: 232px;
  left: 260px; }

.about-us-str .about-us__mapa-item--5 {
  position: absolute;
  top: 99px;
  left: 347px; }

.about-us-str .about-us__mapa-item--6 {
  position: absolute;
  top: 332px;
  left: 390px; }

.about-us-str .about-us__mapa-item--7 {
  position: absolute;
  top: 92px;
  left: 470px; }

.about-us-str .about-us__mapa-item--8 {
  position: absolute;
  top: 4px;
  left: 490px; }

.about-us-str .about-us__mapa-item--9 {
  position: absolute;
  top: 159px;
  left: 542px; }

.about-us-str .about-us__mapa-item--10 {
  position: absolute;
  top: 249px;
  left: 527px; }

.about-us-str .about-us__mapa-item--11 {
  position: absolute;
  top: 442px;
  left: 550px; }

.about-us-str .about-us__mapa-item--12 {
  position: absolute;
  top: 379px;
  left: 647px; }

.about-us-str .about-us__mapa-item--13 {
  position: absolute;
  top: 99px;
  left: 647px; }

.about-us-str .about-us__mapa-item--14 {
  position: absolute;
  top: 209px;
  left: 807px; }

.about-us-str .about-us__mapa-item--15 {
  position: absolute;
  top: 376px;
  left: 784px; }

.about-us-str .about-us__mapa-text {
  position: absolute;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400; }
  .about-us-str .about-us__mapa-text b {
    color: #ff4545;
    font-family: "Open Sans";
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.36px; }

.about-us-str .about_us__mapa-text--1 {
  top: 52px;
  left: 28px; }

.about-us-str .about_us__mapa-text--2 {
  top: 418px;
  left: 205px; }

.about-us-str .about_us__mapa-text--3 {
  top: 290px;
  left: 683px; }

.str-404 .hr {
  margin-top: 0; }

.str-404 h3 {
  margin: 0;
  padding-top: 44px;
  text-align: center;
  color: #2c2c2c;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.18px; }

.red-circle {
  position: absolute;
  border-radius: 50%;
  width: 193px;
  height: 193px;
  border: 2px solid #ff4545;
  display: block; }

.container-404 {
  margin: 0;
  padding: 0;
  min-height: 530px;
  background-image: url("../img/404-bg.png");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  position: relative; }
  .container-404 img {
    position: absolute;
    left: 50%;
    top: 94px;
    transform: translateX(-50%); }
  .container-404 a {
    position: absolute;
    left: 50%;
    bottom: 64px;
    transform: translateX(-50%); }

.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.8;
  z-index: 11; }

.popup-def {
  position: fixed;
  z-index: 12;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 328px;
  height: 319px;
  box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px; }
  .popup-def h5 {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.16px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 13px; }
  .popup-def p {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.14px;
    margin-top: 0;
    margin-bottom: 32px; }
  .popup-def button {
    border: none;
    outline: none;
    width: 280px;
    height: 44px;
    border-radius: 22px;
    background-color: #ff4545;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    margin-bottom: 12px; }
  .popup-def a {
    display: block;
    border-radius: 22px;
    background-color: #2c2c2c;
    width: 280px;
    height: 44px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px; }
  .popup-def i.icon-form-exit {
    position: absolute;
    right: -28px;
    top: -28px;
    cursor: pointer; }
  .popup-def i.arrow-down-circle {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%); }

.popup-buf a {
  background-color: #306c78; }

.popup-buf button {
  background-color: #2c2c2c; }

.popup-rest-password {
  height: auto; }
  .popup-rest-password h5 {
    margin-top: 45px;
    margin-bottom: 32px; }
  .popup-rest-password input {
    margin-bottom: 24px; }
  .popup-rest-password button {
    margin-bottom: 36px; }
  .popup-rest-password .wrapper-popup-rest-succes i {
    display: block;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 7px; }
  .popup-rest-password .wrapper-popup-rest-succes p {
    color: #2c2c2c;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.footer {
  min-height: 157px;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center; }
  .footer ul {
    padding: 0;
    margin: 0;
    height: 36px;
    width: 140px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 36px; }
  .footer li {
    opacity: 0.6;
    transition: all 150ms ease; }
  .footer li:hover {
    opacity: 1;
    transition: all 150ms ease; }
  .footer p {
    margin-top: 0;
    margin-bottom: 45px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24.03px;
    letter-spacing: 0.16px; }
    .footer p span {
      color: #ff4545;
      letter-spacing: 0.16px; }
