.header{
	height: 102px;
	background-color: #2c2c2c;

	.wrapper{
		background-color: unset;
		height: 100%;
		display: flex;
		align-items: center;
	}

	.btn-bar{
		padding: 0;
		outline: none;
		border: none;
		width: 29px;
		min-height: 19px;
		background-color: unset;
		background-image: url('../img/icon/burger.png');
		background-position: center center;
		background-size: cover;
		margin-right: 21px;
		cursor: pointer;
		transition: all 400ms ease;
	}

	.logo{
		width: 93px;
		min-height: 18px;
		margin-right: 143px;
	}

	.nav{
		// min-width: 588px;
		height: 100%;
		// margin-right: 170px;
		.main-menu{
			height: 100%;
			list-style: none;
			padding: 0;
			margin: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__item{
				position: relative;
				cursor: pointer;
				transition: all 300ms ease;
				display: flex;
				align-items: center;
				height: 100%;
				box-sizing: content-box;
				padding-left: 23px;
				padding-right: 23px;
				> a{
					color: #ffffff;
					font-size: 16px;
					font-weight: 400;
					line-height: 14px;
					letter-spacing: 0.16px;					
					color: #fff;
					text-decoration: none;
				}
			}
			.main-menu__item:hover{
				transition: all 300ms ease;
				background-color: #343434;
			}
		}
	}

	.nav-bar-wrapper{
		position: relative;
		height: 18px;
	}

	.main-manu__list{
		position: absolute;
		top: 100%;
		left: 0;
		width: 269px;
		// height: 493px;
		box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		background-color: #ffffff;		
		list-style: none;
		box-sizing: content-box;
		padding-top: 25px;
		padding-left: 24px;
		padding-right: 23px;
		padding-bottom: 20px;		
		li{
			a{
				color: #2c2c2c;
				text-decoration: none;
				font-size: 16px;
				line-height: 36px;
				font-weight: 400;
				transition: all 100ms ease;
			}
			a:hover{
				transition: all 100ms ease;
				color: #67939c;
			}
		}
	}

	.nav--bar{
    position: absolute;
    width: 282px;
    left: -45px;
    margin-right: 0;
    top: 60px;
		.main-menu{
			flex-wrap: wrap;
			width: 100%;
			background-color: #2c2c2c;
			height: auto;
			width: 282px;
			li{
				width: 100%;
				height: 102px;
				width: 100%;
			}
		}
	}	

	.sign-navigation{
		// width: 123px;
		width: 282px;
		min-height: 44px;
		height: 100%;
		display: flex;
		// justify-content: space-between;
		align-items: center;
		transition: all 300ms ease;
		cursor: pointer;
		position: relative;
		cursor: pointer;
		box-sizing: border-box;
		padding-left: 25px;
		transition: all 300ms ease;
		&__name{
			margin-left: 5px;
			cursor: pointer;
			border: none;
			outline: none;
			background-color: unset;
			color: #ffffff;
			font-size: 16px;
			padding: 0;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0.16px;			
		}
	}
	.sign-navigation:hover{
		.icon-anonim{
			transition: all 300ms ease;
			background-image: url('../img/icon/user-icon-red.png');
		}
		.sign-navigation__name{
			transition: all 300ms ease;
			color: #ff4545;
		}
	}

	.profile-list{
		position: absolute;
		top: 100%;
		right: 0;
		width: 282px;
		// height: 596px;
		box-shadow: 0 4px 30px rgba(44, 44, 44, 0.2);
		border-radius: 0 0 6px 6px;
		background-color: #2c2c2c;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		cursor: default;
		&__title-wrapper{
			width: 146px;
			margin-top: 26px;
			margin-bottom: 22px;
			display: flex;
			justify-content: space-between;
			position: relative;
			h4{
				margin: 0;
				opacity: 0.6;
				color: #ffffff;
				font-size: 16px;
				font-weight: 400;
				line-height: 14px;
				letter-spacing: 0.16px;
			}
			i{
				position: absolute;
				left: -35px;
			}
		}
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			width: 146px;
			li{
				width: 100%;
				margin-bottom: 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				a{
					text-decoration: none;
					color: #ffffff;
					font-size: 16px;
					font-weight: 300;
					line-height: 14px;
					letter-spacing: 0.16px;
					transition: all 100ms ease;
				}
				a:hover{
					color: #306c78;
					transition: all 100ms ease;
				}
				i{

				}
			}
		}
		&__exit{
			cursor: pointer;
			border: none;
			outline: none;
			width: 100%;
			height: 69px;
			border-radius: 0 0 6px 6px;
			background-color: #343434;
			color: #ff4545;
			font-size: 16px;
			font-weight: 400;
			line-height: 14px;
			letter-spacing: 0.16px;
			position: relative;
			span{
				position: absolute;
				left: 69px;
				top: 50%;
				transform: translateY(-50%);
			}
			i{
				position: absolute;
				left: 35px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

}