.card-str{  }

.card__wrapper{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	.left{
		width: 894px;
	}

	.rihgt{
		width: 282px;
		height: 529px;
	}

	.last-block{
		width: 100%;
	}

}